h

h2,
.cm-header-2 {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, var(--color-accent), var(--my-color));
  filter: hue-rotate(65deg) brightness(145%);
}

h3,
.cm-header-3 {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, var(--color-accent), var(--my-color));
  filter: hue-rotate(130deg) brightness(145%);
}

h4,
.cm-header-4 {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, var(--color-accent), var(--my-color));
  filter: hue-rotate(195deg) brightness(145%);
}

h5,
.cm-header-5 {
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, var(--color-accent), var(--my-color));
  filter: hue-rotate(255deg) brightness(145%);
}

.timeline-container.svelte-ilz3jn.svelte-ilz3jn {
    font-size: 20px;
    padding-top: 2px;
}

.is-today.svelte-ilz3jn .timeline-day.svelte-ilz3jn {
    border-color: var(--ctp-blue) !important;
}

.timeline-day.svelte-ilz3jn.svelte-ilz3jn {
    border-radius: 10% !important;
    line-height: 30px !important;
    width: 32px !important;
    height: 27px !important;
}

.callout[data-callout="preamble"] {
    --callout-color:  var(--ctp-accent);
    --callout-icon: clipboard-list;
    --icon-size: 40px;   
    border-radius: 12px;
    filter: saturate(172%); 
}

.callout[data-callout=preamble] .callout-title .callout-title-inner {
/*    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, rgb(var(--ctp-accent)), rgb(var(--mc-mauve)))*/;
    padding-top: 2px;
    padding-left: 4px;
    font-size: 1.8em;
    text-align: left;
}

.callout[data-callout="today"] {
    --callout-color: var(--ctp-accent);
    --callout-icon: sun;
    filter: saturate(72%);
    --icon-size: 40px;
}

.callout[data-callout=today] .callout-title .callout-title-inner {
/*    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(180deg, var(--color-accent), rgb(var(--mc-lavender)));*/
    padding-top: 2px;
    padding-left: 4px;
    font-size: 1.8em;
    text-align: left;
}

.callout[data-callout="info"] {
    --callout-color: var(--ctp-accent);
    --icon-size: 40px;
}

.callout[data-callout=info] .callout-title .callout-title-inner {
    padding-top: 4px;
    padding-left: 4px;
    font-size: 1.8em;
    text-align: left;
}

.callout[data-callout="quote"] {
    --callout-color: var(--ctp-accent) !important;
    filter: hue-rotate(215deg);
    --icon-size: 38px;
}

.callout[data-callout=quote] .callout-title .callout-title-inner {
    padding-top: 4px;
    padding-left: 4px;
    font-size: 1.8em;
    text-align: left;
}

.markdown-source-view.mod-cm6 .edit-block-button {
    opacity: 0.3;
    color: var(--color-accent);
    transition: ease-in-out all .4s;
    background-color: rgb(0,0,0,0.0);
    transition: 150ms cubic-bezier(0.2, 0, 1, 0.9);
}

.markdown-source-view.mod-cm6 .edit-block-button:hover {
    background-color: rgb(0,0,0,0.0) !important;
    color: var(--color-accent);
    font-weight: bold;
    --icon-size: 30px;
    opacity: 1;
}

.callout-content {
    font-size: 90% !important;
    line-height: 1.2em;
}

.anp-custom-checkboxes [data-task='"'] input[type=checkbox]:checked:after, .anp-custom-checkboxes [data-task="<"][type=checkbox]:checked:after {
  background-color: rgb(var(--ctp-peach));
  left: 0px;
}

.callout-fold {
    color: var(--color-accent) !important;
    margin-right: 1200px !important;
    --icon-size: 24px;
} 

  /* AnuPpuccin Colors */
  /*
  --anp-bold-color
  --color-accent: rgb(var(--ctp-accent));
  --color-accent-1: rgb(var(--ctp-accent));
  --color-accent-2: rgba(var(--ctp-accent), 0.9);
  --text-selection: rgba(var(--ctp-accent), 0.25);
  --interactive-accent: rgb(var(--ctp-accent));
  --interactive-accent-hover: rgba(var(--ctp-accent), 0.9);
  --text-accent: rgb(var(--ctp-accent));
  --text-accent-hover: rgb(var(--ctp-accent));
  --text-highlight-bg: rgba(var(--ctp-accent), 0.4);
  --text-highlight-bg-active: rgba(var(--ctp-accent), 0.6);
  --interactive-accent: rgb(var(--ctp-accent));
  --interactive-accent-rgb: var(--ctp-accent);
  --interactive-accent-hover: rgb(var(--ctp-accent));
  --blockquote-border-color: rgb(var(--ctp-accent));
  --background-modifier-active-hover: rgba(var(--ctp-accent), 0.15);
  --link-unresolved-decoration-color: rgba(var(--ctp-accent), 0.3);
  --tag-background: rgba(var(--ctp-accent), 0.1);
  --tag-background-hover: rgba(var(--ctp-accent), 0.2);
  --tag-border-color: rgba(var(--ctp-accent), 0.15);
  --tag-border-color-hover: rgba(var(--ctp-accent), 0.15);
  --nav-item-background-selected: rgba(var(--ctp-accent), 0.2);
  --heading-formatting: rgb(var(--ctp-accent));
  --icon-color-focused: rgb(var(--ctp-accent));
    --ctp-rosewater: 245, 224, 220;
  --ctp-flamingo: 242, 205, 205;
  --ctp-pink: 245, 194, 231;
  --ctp-mauve: 203, 166, 247;
  --ctp-red: 243, 139, 168;
  --ctp-maroon: 235, 160, 172;
  --ctp-peach: 250, 179, 135;
  --ctp-yellow: 249, 226, 175;
  --ctp-green: 166, 227, 161;
  --ctp-teal: 148, 226, 213;
  --ctp-sky: 137, 220, 235;
  --ctp-sapphire: 116, 199, 236;
  --ctp-blue: 135, 176, 249;
  --ctp-lavender: 180, 190, 254;
  --ctp-text: 217, 224, 238;
  --ctp-subtext1: 211, 205, 214;
  --ctp-subtext0: 190, 179, 193;
  --ctp-overlay2: 167, 156, 176;
  --ctp-overlay1: 152, 139, 162;
  --ctp-overlay0: 109, 107, 125;
  --ctp-surface2: 87, 82, 105;
  --ctp-surface1: 45, 40, 72;
  --ctp-surface0: 48, 45, 65;
  --ctp-base: 30, 30, 46;
  --ctp-mantle: 26, 24, 38;
  --ctp-crust: 22, 19, 32;*/