@charset "UTF-8";

/* @settings
name: HiroMike - Accent Colors
id: hiromike-accent-colors
settings:
    -
        id: hsl-accent
        title: 'Select the user interface accent color'
        type: variable-themed-color
        opacity: true
        format: hsl-split
        description: User interface accent
        default-dark: '#725BAD'
        default-light: '#52138c'
    - 
        id: hsl-accent-secondary
        title: 'Select the content accent color'
        type: variable-themed-color
        opacity: true
        format: hsl-split
        description: Content accent
        default-dark: '#90D997'
        default-light: '#304f50'
    -
        id: hsl-accent-tertiary
        title: 'Select the table accent color'
        type: variable-themed-color
        opacity: true
        format: hsl-split
        description: Table Accent
        default-dark: '#407F94'
        default-light: '#264c59'
*/
.theme-dark,
.theme-light {

    /* HSL Selected Color   */ 
    --hsl-accent-h: var(--hsl-accent-h);
    --hsl-accent-s: var(--hsl-accent-s);
    --hsl-accent-l: var(--hsl-accent-l);
    --hsl-accent-a: var(--hsl-accent-a);
    --hsl-accent-base: hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--hsl-accent-l), var(--hsl-accent-a)) !important;
    --hsl-accent: var(--hsl-accent-h), var(--hsl-accent-s), var(--hsl-accent-l) !important;    /* HSL Secondary Color   */
    --hsl-second-h: var(--hsl-accent-secondary-h);
    --hsl-second-s: var(--hsl-accent-secondary-s);
    --hsl-second-l: var(--hsl-accent-secondary-l);
    --hsl-second-a: var(--hsl-accent-secondary-a);
    --hsl-second-base: hsla(var(--hsl-accent-secondary-h), var(--hsl-accent-secondary-s), var(--hsl-accent-secondary-l), var(--hsl-accent-secondary-a)) !important;
    --hsl-second: var(--hsl-accent-secondary-h), var(--hsl-accent-secondary-s), var(--hsl-accent-secondary-l) !important;    /* HSL Tertiary Color   */
    --hsl-tertiary-h: var(--hsl-accent-tertiary-h);
    --hsl-tertiary-s: var(--hsl-accent-tertiary-s);
    --hsl-tertiary-l: var(--hsl-accent-tertiary-l);
    --hsl-tertiary-a: var(--hsl-accent-tertiary-a);
    --hsl-tertiary-base: hsla(var(--hsl-accent-tertiary-h), var(--hsl-accent-tertiary-s), var(--hsl-accent-tertiary-l), var(--hsl-accent-tertiary-a)) !important;
    --hsl-tertiary: var(--hsl-accenttertiaryy-h), var(--hsl-accent-tertiary-s), var(--hsl-accent-tertiary-l) !important;    /* Variations of selected color */

    /* Change the HUE  */
    --shift-h-5:calc(var(--hsl-accent-h) + 5);
    --shift-h-10:calc(var(--hsl-accent-h) + 10);
    --shift-h-15:calc(var(--hsl-accent-h) + 15);
    --shift-h-20:calc(var(--hsl-accent-h) + 20);
    --shift-h-25:calc(var(--hsl-accent-h) + 25);
    --shift-h-30:calc(var(--hsl-accent-h) + 30);
    --shift-h-35:calc(var(--hsl-accent-h) + 35);
    --shift-h-40:calc(var(--hsl-accent-h) + 40);
    --shift-h-45:calc(var(--hsl-accent-h) + 45);
    --shift-h-50:calc(var(--hsl-accent-h) + 50);
    --shift-h-55:calc(var(--hsl-accent-h) + 55);
    --shift-h-60:calc(var(--hsl-accent-h) + 60);
    --shift-h-65:calc(var(--hsl-accent-h) + 65);
    --shift-h-70:calc(var(--hsl-accent-h) + 70);
    --shift-h-75:calc(var(--hsl-accent-h) + 75);
    --shift-h-90:calc(var(--hsl-accent-h) + 90);
    --shift-h-120:calc(var(--hsl-accent-h) + 120);
    --shift-h-150:calc(var(--hsl-accent-h) + 150);
    --shift-h-180:calc(var(--hsl-accent-h) + 180);
    --shift-h-210:calc(var(--hsl-accent-h) + 210);
    --shift-h-240:calc(var(--hsl-accent-h) + 240);
    --shift-h-270:calc(var(--hsl-accent-h) + 270);
    --shift-h-300:calc(var(--hsl-accent-h) + 300);
    --shift-h-360:calc(var(--hsl-accent-h) + 360);
    --lighter-l-5:clamp(0%, calc(var(--hsl-accent-l) + 5%), 100%);
    --lighter-l-10:clamp(0%, calc(var(--hsl-accent-l) + 10%), 100%);
    --lighter-l-20:clamp(0%, calc(var(--hsl-accent-l) + 20%), 100%);
    --lighter-l-30:clamp(0%, calc(var(--hsl-accent-l) + 30%), 100%);
    --lighter-l-40:clamp(0%, calc(var(--hsl-accent-l) + 40%), 100%);
    --lighter-l-50:clamp(0%, calc(var(--hsl-accent-l) + 50%), 100%);
    --darker-l-5:clamp(0%, calc(var(--hsl-accent-l) - 5%), 100%);
    --darker-l-10:clamp(0%, calc(var(--hsl-accent-l) - 10%), 100%);
    --darker-l-15:clamp(0%, calc(var(--hsl-accent-l) - 15%), 100%);
    --darker-l-20:clamp(0%, calc(var(--hsl-accent-l) - 20%), 100%);
    --darker-l-30:clamp(0%, calc(var(--hsl-accent-l) - 30%), 100%);
    --darker-l-40:clamp(0%, calc(var(--hsl-accent-l) - 40%), 100%);
    --darker-l-50:clamp(0%, calc(var(--hsl-accent-l) - 50%), 100%);
    --sat-s-5:clamp(0%, calc(var(--hsl-accent-s) + 5%), 100%);
    --sat-s-10:clamp(0%, calc(var(--hsl-accent-s) + 10%), 100%);
    --sat-s-20:clamp(0%, calc(var(--hsl-accent-s) + 20%), 100%);
    --sat-s-30:clamp(0%, calc(var(--hsl-accent-s) + 30%), 100%);
    --sat-s-40:clamp(0%, calc(var(--hsl-accent-s) + 40%), 100%);
    --sat-s-50:clamp(0%, calc(var(--hsl-accent-s) + 50%), 100%);
    --des-s-5:clamp(0%, calc(var(--accent-s) - 5%), 100%);
    --des-s-10:clamp(0%, calc(var(--accent-s) - 10%), 100%);
    --des-s-20:clamp(0%, calc(var(--accent-s) - 20%), 100%);
    --des-s-30:clamp(0%, calc(var(--accent-s) - 30%), 100%);
    --des-s-40:clamp(0%, calc(var(--accent-s) - 40%), 100%);
    --des-s-50:clamp(0%, calc(var(--accent-s) - 50%), 100%);
    --sat-second-s-5:clamp(0%, calc(var(--hsl-second-s) + 5%), 100%);
    --sat-second-s-10:clamp(0%, calc(var(--hsl-second-s) + 10%), 100%);
    --sat-second-s-20:clamp(0%, calc(var(--hsl-second-s) + 20%), 100%);
    --sat-second-s-30:clamp(0%, calc(var(--hsl-second-s) + 30%), 100%);
    --sat-second-s-40:clamp(0%, calc(var(--hsl-second-s) + 40%), 100%);
    --sat-second-s-50:clamp(0%, calc(var(--hsl-second-s) + 50%), 100%);
    --des-second-s-5:clamp(0%, calc(var(--hsl-second-s) - 5%), 100%);
    --des-second-s-10:clamp(0%, calc(var(--hsl-second-s) - 10%), 100%);
    --des-second-s-20:clamp(0%, calc(var(--hsl-second-s) - 20%), 100%);
    --des-second-s-30:clamp(0%, calc(var(--hsl-second-s) - 30%), 100%);
    --des-second-s-40:clamp(0%, calc(var(--hsl-second-s) - 40%), 100%);
    --des-second-s-50:clamp(0%, calc(var(--hsl-second-s) - 50%), 100%);
    --shift-second-h-5:calc(var(--hsl-second-h) + 5);
    --shift-second-h-10:calc(var(--hsl-second-h) + 10);
    --shift-second-h-15:calc(var(--hsl-second-h) + 15);
    --shift-second-h-20:calc(var(--hsl-second-h) + 20);
    --shift-second-h-25:calc(var(--hsl-second-h) + 25);
    --shift-second-h-30:calc(var(--hsl-second-h) + 30);
    --shift-second-h-35:calc(var(--hsl-second-h) + 35);
    --shift-second-h-40:calc(var(--hsl-second-h) + 40);
    --shift-second-h-45:calc(var(--hsl-second-h) + 45);
    --shift-second-h-50:calc(var(--hsl-second-h) + 50);
    --shift-second-h-55:calc(var(--hsl-second-h) + 55);
    --shift-second-h-60:calc(var(--hsl-second-h) + 60);
    --shift-second-h-65:calc(var(--hsl-second-h) + 65);
    --shift-second-h-70:calc(var(--hsl-second-h) + 70);
    --shift-second-h-75:calc(var(--hsl-second-h) + 75);
    --shift-second-h-90:calc(var(--hsl-second-h) + 90);
    --shift-second-h-120:calc(var(--hsl-second-h) + 120);
    --shift-second-h-135:calc(var(--hsl-second-h) + 135);
    --shift-second-h-150:calc(var(--hsl-second-h) + 150);
    --shift-second-h-180:calc(var(--hsl-second-h) + 180);
    --shift-second-h-210:calc(var(--hsl-second-h) + 210);
    --shift-second-h-240:calc(var(--hsl-second-h) + 240);
    --shift-second-h-270:calc(var(--hsl-second-h) + 270);
    --shift-second-h-300:calc(var(--hsl-second-h) + 300);
    --shift-second-h-360:calc(var(--hsl-second-h) + 360);
    --shift-tertiary-h-5:calc(var(--hsl-tertiary-h) + 5);
    --shift-tertiary-h-10:calc(var(--hsl-tertiary-h) + 10);
    --shift-tertiary-h-15:calc(var(--hsl-tertiary-h) + 15);
    --shift-tertiary-h-20:calc(var(--hsl-tertiary-h) + 20);
    --shift-tertiary-h-25:calc(var(--hsl-tertiary-h) + 25);
    --shift-tertiary-h-30:calc(var(--hsl-tertiary-h) + 30);
    --shift-tertiary-h-35:calc(var(--hsl-tertiary-h) + 35);
    --shift-tertiary-h-40:calc(var(--hsl-tertiary-h) + 40);
    --shift-tertiary-h-45:calc(var(--hsl-tertiary-h) + 45);
    --shift-tertiary-h-50:calc(var(--hsl-tertiary-h) + 50);
    --shift-tertiary-h-55:calc(var(--hsl-tertiary-h) + 55);
    --shift-tertiary-h-60:calc(var(--hsl-tertiary-h) + 60);
    --shift-tertiary-h-65:calc(var(--hsl-tertiary-h) + 65);
    --shift-tertiary-h-70:calc(var(--hsl-tertiary-h) + 70);
    --shift-tertiary-h-75:calc(var(--hsl-tertiary-h) + 75);
    --shift-tertiary-h-90:calc(var(--hsl-tertiary-h) + 90);
    --shift-tertiary-h-120:calc(var(--hsl-tertiary-h) + 120);
    --shift-tertiary-h-150:calc(var(--hsl-tertiary-h) + 150);
    --shift-tertiary-h-180:calc(var(--hsl-tertiary-h) + 180);
    --shift-tertiary-h-210:calc(var(--hsl-tertiary-h) + 210);
    --shift-tertiary-h-240:calc(var(--hsl-tertiary-h) + 240);
    --shift-tertiary-h-270:calc(var(--hsl-tertiary-h) + 270);
    --shift-tertiary-h-300:calc(var(--hsl-tertiary-h) + 300);
    --shift-tertiary-h-360:calc(var(--hsl-tertiary-h) + 360);
    --sat-tertiary-s-5:clamp(0%, calc(var(--hsl-tert-s) + 5%), 100%);
    --sat-tertiary-s-10:clamp(0%, calc(var(--hsl-tert-s) + 10%), 100%);
    --sat-tertiary-s-20:clamp(0%, calc(var(--hsl-tert-s) + 20%), 100%);
    --sat-tertiary-s-30:clamp(0%, calc(var(--hsl-tert-s) + 30%), 100%);
    --sat-tertiary-s-40:clamp(0%, calc(var(--hsl-tert-s) + 40%), 100%);
    --sat-tertiary-s-50:clamp(0%, calc(var(--hsl-tert-s) + 50%), 100%);
    --des-tertiary-s-5:clamp(0%, calc(var(--hsl-tert-s) - 5%), 100%);
    --des-tertiary-s-10:clamp(0%, calc(var(--hsl-tert-s) - 10%), 100%);
    --des-tertiary-s-20:clamp(0%, calc(var(--hsl-tert-s) - 20%), 100%);
    --des-tertiary-s-30:clamp(0%, calc(var(--hsl-tert-s) - 30%), 100%);
    --des-tertiary-s-40:clamp(0%, calc(var(--hsl-tert-s) - 40%), 100%);
    --des-tertiary-s-50:clamp(0%, calc(var(--hsl-tert-s) - 50%), 100%);
    --lighter-second-l-5:clamp(0%, calc(var(--hsl-second-l) + 5%), 100%);
    --lighter-second-l-10:clamp(0%, calc(var(--hsl-second-l) + 10%), 100%);
    --lighter-second-l-20:clamp(0%, calc(var(--hsl-second-l) + 20%), 100%);
    --lighter-second-l-30:clamp(0%, calc(var(--hsl-second-l) + 30%), 100%);
    --lighter-second-l-40:clamp(0%, calc(var(--hsl-second-l) + 40%), 100%);
    --lighter-second-l-50:clamp(0%, calc(var(--hsl-second-l) + 50%), 100%);
    --lighter-tertiary-l-5:clamp(0%, calc(var(--hsl-tertiary-l) + 5%), 100%);
    --lighter-tertiary-l-10:clamp(0%, calc(var(--hsl-tertiary-l) + 10%), 100%);
    --lighter-tertiary-l-20:clamp(0%, calc(var(--hsl-tertiary-l) + 20%), 100%);
    --lighter-tertiary-l-30:clamp(0%, calc(var(--hsl-tertiary-l) + 30%), 100%);
    --lighter-tertiary-l-40:clamp(0%, calc(var(--hsl-tertiary-l) + 40%), 100%);
    --lighter-tertiary-l-50:clamp(0%, calc(var(--hsl-tertiary-l) + 50%), 100%);
    --darker-second-l-5:clamp(0%, calc(var(--hsl-second-l) - 5%), 100%);
    --darker-second-l-10:clamp(0%, calc(var(--hsl-second-l) - 10%), 100%);
    --darker-second-l-15:clamp(0%, calc(var(--hsl-second-l) - 15%), 100%);
    --darker-second-l-20:clamp(0%, calc(var(--hsl-second-l) - 20%), 100%);
    --darker-second-l-30:clamp(0%, calc(var(--hsl-second-l) - 30%), 100%);
    --darker-second-l-40:clamp(0%, calc(var(--hsl-second-l) - 40%), 100%);
    --darker-second-l-50:clamp(0%, calc(var(--hsl-second-l) - 50%), 100%);
    --darker-tertiary-l-5:clamp(0%, calc(var(--hsl-tertiary-l) - 5%), 100%);
    --darker-tertiary-l-10:clamp(0%, calc(var(--hsl-tertiary-l) - 10%), 100%);
    --darker-tertiary-l-15:clamp(0%, calc(var(--hsl-tertiary-l) - 15%), 100%);
    --darker-tertiary-l-20:clamp(0%, calc(var(--hsl-tertiary-l) - 20%), 100%);
    --darker-tertiary-l-30:clamp(0%, calc(var(--hsl-tertiary-l) - 30%), 100%);
    --darker-tertiary-l-40:clamp(0%, calc(var(--hsl-tertiary-l) - 40%), 100%);
    --darker-tertiary-l-50:clamp(0%, calc(var(--hsl-tertiary-l) - 50%), 100%);
    --color-accent: var(--hsl-second-base);
}
