/* You must turn ON line numbers even though they are not displayed  */
/* Adapted from Vane6413 on Discord - this is mainly his code I have */
/* only adapted and tweaked it after some experimentation            */
/* The colors are based on the secondary color.                      */

/* Dark theme color variables */
/* Dark theme color variables */
.theme-dark {
  /* Color of small line */
  --al-0: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) - 10%),
    1
  );

  --al-1: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) + 10%),
    0.05
  );
  --al-2: hsla(
    calc(var(--accent-h) - 45),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) + 10%),
    0.1
  );
  --al-3: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) + 10%),
    0.05
  );

  /* Cursor color */
  --al-4: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) + 0%),
    1
  );

  /* Background channel color */
  --al-5: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 35%),
    0.6
  );

  /* Shadow color */
  --al-6: rgba(0, 0, 0, 1);
}

/* Light theme color variables */
.theme-light {
  --al-0: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 40%),
    0.4
  );

  --al-1: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 20%),
    0.2
  );
  --al-2: hsla(
    calc(var(--typ-accent-h) - 30),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 35%),
    0.35
  );
  --al-3: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 20%),
    0.2
  );

  --al-4: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 40%),
    1
  );
  --al-5: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 0%),
    0.3
  );
  --al-6: hsl(calc(var(--typ-accent-h) + 0), 0%, 56.251%);
}

.cm-scroller {
  padding-left: 6px !important;
}

.markdown-source-view .inline-title {
/*  padding-bottom: 1.15em;*/
}

.markdown-source-view .inline-title::before {
  display: inline-block;
  vertical-align: -0.15em;
  content: " ";
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M216,48V88H40V48a8,8,0,0,1,8-8H208A8,8,0,0,1,216,48Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-68-76a12,12,0,1,1-12-12A12,12,0,0,1,140,132Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,132ZM96,172a12,12,0,1,1-12-12A12,12,0,0,1,96,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,140,172Zm44,0a12,12,0,1,1-12-12A12,12,0,0,1,184,172Z'%3E%3C/path%3E%3C/svg%3E");
  -webkit-mask-size: contain;
  margin-right: 0.2em;
  width: 1em;
  height: 1em;
  background-color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 20%),
    1);
}

.markdown-source-view.mod-cm6.is-live-preview div.cm-editor div {
  caret-color: var(--al-4);
}

/* edit bar */
.cm-gutter {
/*   overflow: visible !important; */
}

/* Add rounded borders to the top-left and top-right of the first .cm-gutterElement */
.cm-lineNumbers .cm-gutterElement:not([style*="visibility: hidden"]):first-of-type,
.cm-gutterElement:nth-child(2) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Add rounded borders to the bottom-left and bottom-right of the last .cm-gutterElement */
.cm-gutterElement:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


/* Background channel */
.cm-gutterElement {
  display: flex;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  min-width: 10px !important;
  background-color: var(--al-5);
/*  border-top-left-radius: 5px;*/
/*  border-top-right-radius: 5px;*/
}

/* Small line highlight */
.cm-gutterElement.cm-active {
  position: relative;
  top: 0px;
  background-color: var(--al-0);
  box-shadow: var(--al-6) 0px 0px 10px 0px !important;
  border-radius: 5px;
}

/* Top of gutter - rounding */
.cm-gutterElement:nth-child(2) {
  /* border-top-left-radius: 5px;
  border-top-right-radius: 5px; */
}

/* Bottom of gutter - rounding */
.cm-gutterElement:last-child {
  /* border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; */
}

/* Background of active line */

.cm-active.cm-line {
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 5%,
    var(--al-1) 25%,
    var(--al-2) 50%,
    var(--al-3) 75%,
    transparent 95%,
    transparent 100%
  );
  filter: brightness(1.3);
}





/* Reset/override style for .cm-active.cm-line inside tables */
.table-editor .cm-active.cm-line {
  background: none; /* Reset background */
  filter: none; /* Reset filter */
  padding-top: 0; /* Reset padding */
  padding-bottom: 0;
  margin-top: 0; /* Reset margins */
  margin-bottom: 0;
  height: 10%;
}

.cm-line {
  /* padding-top: unset !important;
  padding-bottom: unset !important; */
}
