/* You must turn ON line numbers even though they are not displayed  */
/* Adapted from Vane6413 on Discord - this is mainly his code I have */
/* only adapted and tweaked it after some experimentation            */
/* The colors are based on the secondary color.                      */

/* Dark theme color variables */
/* Dark theme color variables */
.theme-dark {
  /* Color of small line */
  --al-0: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 10%),
    1
  );

  --al-1: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 10%),
    0.05
  );
  --al-2: hsla(
    calc(var(--typ-accent-h) - 45),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 10%),
    0.1
  );
  --al-3: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 10%),
    0.05
  );

  /* Cursor color */
  --al-4: hsla(
    calc(var(--typ-accent-h) + 180),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 10%),
    1
  );

  /* Background channel color */
  --al-5: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 35%),
    0.7
  );

  /* Shadow color */
  --al-6: rgba(0, 0, 0, 1);
}

/* Light theme color variables */
.theme-light {
  --al-0: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 40%),
    0.4
  );

  --al-1: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 20%),
    0.2
  );
  --al-2: hsla(
    calc(var(--typ-accent-h) - 30),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 35%),
    0.35
  );
  --al-3: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 20%),
    0.2
  );

  --al-4: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 40%),
    1
  );
  --al-5: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 10%),
    0.3
  );
  --al-6: hsl(calc(var(--typ-accent-h) + 0), 0%, 56.251%);
}

/* Other styles remain unchanged. They do not contain color definitions to be updated. */

.cm-scroller {
  padding-left: 6px !important;
}

.markdown-source-view .inline-title {
  padding-bottom: 1.15em;
}

.markdown-source-view.mod-cm6.is-live-preview div.cm-editor div {
  caret-color: var(--al-4);
}

/* edit bar */
.cm-gutter {
  overflow: visible !important;
}

/* Background channel */
.cm-gutterElement {
  display: flex;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  min-width: 10px !important;
  background-color: var(--al-5);
}

/* Small line highlight */
.cm-gutterElement.cm-active {
  position: relative;
  background-color: var(--al-0);
  box-shadow: var(--al-6) 0px 0px 10px 0px !important;
  border-radius: 5px;
}

.cm-gutterElement:nth-child(2) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.cm-gutterElement:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Background of active line */
.cm-active.cm-line {
  background: linear-gradient(
    90deg,
    transparent 0%,
    transparent 5%,
    var(--al-1) 25%,
    var(--al-2) 50%,
    var(--al-3) 75%,
    transparent 95%,
    transparent 100%
  );
  filter: brightness(1.3);
  padding-top: unset !important;
  padding-bottom: unset !important;
  margin-top: unset !important;
  margin-bottom: unset !important;
}

/* Reset/override style for .cm-active.cm-line inside tables */
.table-editor .cm-active.cm-line {
  background: none; /* Reset background */
  filter: none; /* Reset filter */
  padding-top: 0; /* Reset padding */
  padding-bottom: 0;
  margin-top: 0; /* Reset margins */
  margin-bottom: 0;
}

.cm-line {
  padding-top: unset !important;
  padding-bottom: unset !important;
}
