
/* Change font of code blocks */
.cm-s-obsidian .HyperMD-codeblock {
    font-family: "MonoLisa";
    font-feature-settings: "frac" 1,"calt" 1, "liga" 1, "ss01" 1, "ss02" 1, "ss03" 0, "ss05" 1, "ss06" 0, "zero" !important;
}

/* Change font and color of iltalic text */
em, .cm-em {
    /*color: var(--color-blue);*/
    font-family: "MonoLisa" !important;
    /*font-weight: 400;*/
    font-style: italic !important;
    font-feature-settings: "frac" 1,"calt" 1, "liga" 1, "ss01" 1, "ss02" 1, "ss03" 0, "ss05" 1, "ss06" 0, "zero" !important;
}

