
/* Tokei Colors */
body {
	--typ-accent-h: var(--accent-h);
	--typ-accent-s: var(--accent-s);
	--typ-accent-l: var(--accent-l);
	--radiusL: 0.8em;
	--radiusS: 0.05em;
	--typ-accent: hsla(calc(var(--typ-accent-h) + 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 10%), 1);
}

