.list-bullet {
  margin-right: 0.5em;
  --list-bullet-size: 0.5em;
}

.has-list-bullet > li[data-line="0"] > .list-bullet::after,
.HyperMD-list-line-1 .list-bullet::after {
  background-color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 0%),
    1
  );
}

.has-list-bullet > li[data-line="1"] > .list-bullet::after,
.HyperMD-list-line-2 .list-bullet::after {
  background-color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 20%),
    calc(var(--typ-accent-l) - 0%),
    1
  );
}

.has-list-bullet > li[data-line="2"] > .list-bullet::after,
.HyperMD-list-line-3 .list-bullet::after {
  background-color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 40%),
    calc(var(--typ-accent-l) - 0%),
    1
  );
}

.has-list-bullet > li[data-line="3"] > .list-bullet::after,
.HyperMD-list-line-4 .list-bullet::after {
  background-color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 60%),
    calc(var(--typ-accent-l) - 0%),
    1
  );
}

.has-list-bullet > li[data-line="4"] > .list-bullet::after,
.HyperMD-list-line-5 .list-bullet::after {
  background-color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 80%),
    calc(var(--typ-accent-l) - 0%),
    1
  );
}
