:root body {

    /* Layout and Padding */
    --hm-card-layout-padding: 8px;
    --hm-card-header-left-padding: 10px;
    --hm-card-radius: 10px;
    --radius-xl: 10px;    /* Widths */
}

body:is(.theme-dark, .theme-light) {
    --text-normal: hsla(var(--hsl-accent-secondary-h), var(--hsl-accent-secondary-s), 70%, 100%);
}

.theme-light {

    /* Colors for Light Theme */

    /* Colors */
    --divider-color: transparent;
    --tab-outline-color: transparent;
    --interactive-accent: hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--lighter-l-30), 1);
    --text-on-accent: hsla(var(--shift-h-180), var(--hsl-accent-s), var(--darker-l-20), 1) !important;
    --borders: hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--lighter-l-20), 1);
    --highlight-1:hsla(var(--shift-h-15), var(--sat-s-40), var(--darker-l-20), 1);
    --card-background-color: hsla(var(--hsl-accent-h), calc(var(--hsl-accent-s) * 0.7), 80%, 1);
    --card-foreground-color: hsla(var(--hsl-accent-h), calc(var(--hsl-accent-s) * 0.4), 90%, 1);
    --icons: hsla(var(--shift-h-90), var(--sat-s-10), var(--hsl-accent-l), 1);
    --icon60:hsla(var(--shift-h-60), var(--hsl-accent-s), var(--hsl-accent-l), 1);
    --icon120:hsla(var(--shift-h-120), var(--hsl-accent-s), var(--hsl-accent-l), 1);
    --icon180:hsla(var(--shift-h-180), var(--hsl-accent-s), var(--hsl-accent-l), 1);/* Derived Colors */
    --tab-container-background: var(--card-background-color);
    --background-primary: var(--card-foreground-color);
    --background-secondary: var(--card-background-color);
}

.theme-dark {

    /* Colors */
    --divider-color: transparent;
    --tab-outline-color: transparent;
    --interactive-accent: hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--darker-l-30), 1);
    --text-on-accent: hsla(var(--shift-h-180), var(--hsl-accent-s), var(--lighter-l-20), 1) !important;
    --borders: hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--darker-l-20), 1);
    --highlight-1:hsla(var(--shift-h-15), var(--hsl-accent-s), var(--lighter-l-10), 0.7);
    --card-background-color: hsla(var(--hsl-accent-h), var(--hsl-accent-s), 14%, 1);
    --card-foreground-color: hsla(var(--hsl-accent-h), var(--hsl-accent-s), 8%, 1);    /* Derived Colors */
    --callout-bg-color: hsla(var(--hsl-accent-secondary-h), var(--hsl-accent-secondary-s), 5%, 1);;
    --tab-container-background: var(--card-background-color);
    --background-primary: var(--card-foreground-color);
    --background-secondary: var(--card-background-color);
    --icons: hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--hsl-accent-l), 1);
    --icon60:hsla(var(--shift-h-60), var(--hsl-accent-s), var(--hsl-accent-l), 1);
    --icon120:hsla(var(--shift-h-120), var(--hsl-accent-s), var(--hsl-accent-l), 1);
    --icon180:hsla(var(--shift-h-180), var(--hsl-accent-s), var(--hsl-accent-l), 1);
    --card-shadow: hsla(var(--hsl-accent-secondary-h), var(--hsl-accent-secondary-s), var(--hsl-accent-secondary-l), var(--hsl-accent-secondary-a));
}

/* Selects the element with class 'nav-folder-title-content' that is a direct child of an element with class 'nav-folder-title' and is also a direct child of an element with class 'mod-root' */
.mod-root > .nav-folder-title > .nav-folder-title-content {

    /* Your CSS rules here */
    justify-content: center;
    width: 100%;
    display: flex;
    font-size: 1.5em;
    font-family: "Yu Gothic" !important;
    color: hsla(var(--shift-second-h-180), var(--hsl-accent-secondary-s), var(--hsl-accent-secondary-l), 100%);
}

/* Title */
.view-header-title-parent {
    font-size: 1.1em;
    color: hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--hsl-accent-l), 0.5);
}

.view-header-title {
    font-size: 1.1em;
    color: hsla(var(--shift-h-180), var(--hsl-accent-s), var(--hsl-accent-l), 1) !important;
    text-shadow: 2px 2px 2px black;
}

/*An experimental snippet to extend the right side clickable area for lines just a bit 
so it's less painful to click text with a space at the end of a line:*/
.cm-line:not(:has(>br))::after {
    content: " ";/*     background: linear-gradient(#fff4, #fff8); */
    width: 0.5rem;
    position: absolute;
    right: 0;
    translate: 100% 0;
}

/* The top left tab bar styling */

/* From FireIsGood on Discord */
.mod-left-split .mod-top .workspace-tab-header-container-inner {
    margin-left: 10px;
    padding-top: 6px;
    background-color: var(--card-foreground-color);
    border-radius: 10px;
/*    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08) !important;*/
/*    box-shadow: 0px 4px 12px hsla(var(--card-shadow), 0.1), 0px 2px 4px hsla(var(--card-shadow), 0.08) !important;*/
/*    box-shadow: 0px 10px 30px hsla(var(--card-shadow), 0.5), 0px 5px 15px hsla(var(--card-shadow), 0.5) !important;*/
/*    filter: drop-shadow(3px 3px 4px var(--card-shadow));*/
}

.mod-left-split .workspace-tab-header-container-inner {
    display: flex;
    justify-content: space-between;
    width: 94%;
    height: 100%;
}

.mod-left-split .mod-top .workspace-tab-header-container {
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 4px;
}

.mod-left-split .workspace-tab-header-spacer {
    display: none;
}

/* Status Bar */
.status-bar {
    font-size: 1.1em;
    color: var(--highlight-1);
    background-color: var(--card-foreground-color);
    border: 10px solid var(--card-background-color);
    border-top-left-radius: 20px;
    text-shadow: 2px 2px 2px black;
}

.side-dock-actions svg {

    /*    --icon-size: 20px !important;*/
}

/* Icons */
.side-dock-actions,
.side-dock-settings {

    /*    border-left: 3px solid var(--highlight-1) !important;*/
    --icon-color: var(--icons);
    background-color: var(--card-foreground-color);
/*    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08) !important;*/
/*    box-shadow: 0px 4px 12px hsla(var(--card-shadow), 0.1), 0px 2px 4px hsla(var(--card-shadow), 0.08) !important;*/
/*    box-shadow: 0px 10px 30px hsla(var(--card-shadow), 0.5), 0px 5px 15px hsla(var(--card-shadow), 0.5) !important;*/
/*    filter: drop-shadow(3px 3px 4px var(--card-shadow));*/

}

.side-dock-settings {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px !important;
}

/* Panel Toggle Icons */
.sidebar-toggle-button svg {
    color: var(--highlight-1) !important;
}

/* Left side-bar icons */

/* Select elements at positions 0, 4, 8, 12, etc. */
.side-dock-ribbon-action:nth-child(4n) svg {
    color: var(--icon180);
}

/* Select elements at positions 1, 4, 7, 10, etc. */
.side-dock-ribbon-action:nth-child(4n+1) svg {
    color: var(--icons);
}

/* Select elements at positions 2, 5, 8, 11, etc. */
.side-dock-ribbon-action:nth-child(4n+2) svg {
    color: var(--icon60);
}

/* Select elements at positions 3, 6, 9, 12, etc. */
.side-dock-ribbon-action:nth-child(4n+3) svg {
    color: var(--icon120);
}

/* OZ Calendar Icon */
.workspace-tab-header.is-active .OZCAL_ICON {
    fill: hsla(var(--shift-h-180), var(--sat-s-10), var(--hsl-accent-l), 1) !important;
    filter: brightness(0.8) !important;
}

.workspace-tab-header:not(.is-active) .OZCAL_ICON {
    fill: var(--icons) !important;
}

.workspace-tab-header.is-active .workspace-tab-header-inner-icon:before {
    content: "";
    margin-top: 2px;
    width: 22px;
    height: 22px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-left'%3E%3Cpath d='m15 18-6-6 6-6'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    background-color: var(--hsl-second-base);
}

.workspace-tab-header.is-active .workspace-tab-header-inner-icon:after {
    content: "";
    margin-top: 2px;
    width: 22px;
    height: 22px;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-right'%3E%3Cpath d='m9 18 6-6-6-6'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    background-color: var(--hsl-second-base);
}

/* Active Icons */
.workspace-tab-header.is-active .workspace-tab-header-inner-icon svg {
    width: 26px;
    height: 26px;
    color: hsla(var(--shift-h-180), var(--sat-s-10), var(--hsl-accent-l), 1) !important;
}

/* Remove active icon backgrounds */
.mod-left-split .workspace-tab-header.is-active,
.mod-right-split .workspace-tab-header.is-active {
    background-color: transparent;
}

/* The tab colors */
.workspace-tab-header.is-active .workspace-tab-header-inner-title {
    color: var(--highlight-1) !important;
    text-align: center;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px black;
}

.workspace .mod-root  .workspace-tab-header-inner {
    border-top: 3px solid var(--highlight-1);
}

/* Variable width tabs WIP */
.workspace .mod-root .workspace-tab-header-inner {
    width: auto;
}

.workspace .mod-root .workspace-tab-header {
    width: auto;
    flex: none;
    flex-shrink: 1;
    max-width: 100%;
}

.nav-folder.is-collapsed .nav-folder-collapse-indicator,
[data-type=bookmarks] .tree-item.is-collapsed .collapse-icon {

    /*  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 24' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-linecap='round' stroke-width='2'%3E%3Cpath d='M4 20h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-7.93a2 2 0 0 1-1.66-.9l-.82-1.2A2 2 0 0 0 7.93 3H4a2 2 0 0 0-2 2v13c0 1.1.9 2 2 2z'/%3E%3Cpath d='M2 10h20' /%3E%3C/svg%3E%0A");*/
}

/* Windows min/max/close buttons */
body .titlebar-button-container {
    background-color: var(--card-background-color) !important;
}

body .menu {
    border: 0px !important;
}

body .workspace-tabs.mod-top:has(.obsidian-banner-wrapper) {
    --file-header-border: none;
}

body.is-focused,
body.is-focused .sidebar-toggle-button,
body.is-focused .workspace-tabs.mod-top,
body .sidebar-toggle-button,
body .workspace-tabs.mod-top {
    --tab-container-background: var(--card-background-color);
}

body .mod-left-split .workspace-tabs .workspace-leaf,
body .mod-right-split .workspace-tabs .workspace-leaf,
body .mod-left-split,
body .mod-vertical .workspace-tab-container,
body .mod-vertical,
body .workspace-split.mod-vertical,
body .workspace-ribbon.mod-left.is-collapsed,
body .workspace-fake-target-overlay:not(.is-in-sidebar) .workspace-tabs .workspace-leaf,body .mod-root .workspace-tabs .workspace-leaf,body .workspace-ribbon.mod-left,body .workspace-ribbon.mod-left:before {
    background-color: var(--tab-container-background);
}

body-actions .workspace-ribbon.mod-left {
    margin-right: var(--hm-card-layout-padding, 10px);
}

body .side-dock-actions {
    border-radius: 0px var(--hm-card-radius, var(--radius-xl)) var(--hm-card-radius, var(--radius-xl)) 0px;
    margin-top: 2px;
    border-width: 1px 1px 0px 1px;
}

body-actions .side-dock-actions,
body-actions .side-dock-settings {
    border-style: solid;
    border-color: var(--tab-outline-color);
    background-color: var(--card-foreground-color);
}

body-actions .side-dock-settings {
    border-width: 1px 1px 0px 0px;
    border-radius: 0px var(--hm-card-radius, var(--radius-xl)) 0px 0px;
}

body-actions .side-dock-settings {
    border-width: 1px;
    border-radius: 0px var(--hm-card-radius, var(--radius-xl)) var(--hm-card-radius, var(--radius-xl)) 0px;
}

body .side-dock-actions,
body .side-dock-settings {
    padding: var(--size-4-2) var(--size-4-1) var(--size-4-3);
}

body .workspace-ribbon.mod-left {
    margin-top: calc(var(--header-height) - 1px);
}

body .workspace-tab-header-container,
body .workspace-ribbon.mod-left:before {
    border-bottom: none;
}

body .mod-vertical .workspace-tabs {
    padding-left: var(--hm-card-layout-padding, 10px);
    padding-right: var(--hm-card-layout-padding, 10px);
}

body .mod-vertical .workspace-tabs .workspace-tab-header-container {
    padding-left: var(--hm-card-header-left-padding, 20px);
}

body .mod-vertical .workspace-tabs .workspace-tab-header-container .workspace-tab-header-container-inner {
    margin: 6px -5px calc(var(--tab-outline-width) * -1);
    z-index: 1;
}

body .mod-left-split .workspace-tab-container,
body .mod-right-split .workspace-tab-container {
    padding-left: var(--hm-card-layout-padding, 10px);
    padding-right: var(--hm-card-layout-padding, 10px);
    padding-top: var(--hm-card-layout-padding, 6px);
    background-color: var(--tab-container-background);
}

body .mod-right-split .workspace-tab-container {
    padding-right: 20px;
}

.nav-action-button svg {
    width: 26px !important;
    height: 26px !important;
    color: var(--icons);
}

.workspace-tab-header-container svg:not(.OZCAL_ICON) {
    color: var(--icons);
}

.workspace-leaf-content[data-type="bookmarks"],
.workspace-leaf-content[data-type="file-explorer"] > .nav-header {
    background-color: var(--card-background-color) !important;
}

.workspace-leaf-content[data-type="file-explorer"] {
    background-color: var(--card-background-color) !important;

    > .nav-files-container {
        border-top-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        background-color: var(--card-foreground-color);
    }

}

.workspace-leaf-content[data-type="bookmarks"] {
    background-color: var(--card-background-color) !important;

    > .nav-header {
        border: none;
    }

    > .view-content {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: var(--card-foreground-color);
    }

}

/* Style for the workspace-leaf-content class */
body .workspace-split .workspace-leaf-content,
.nav-buttons-container {
    border-radius: var(--hm-card-radius, var(--radius-xl));
    background-color: var(--card-foreground-color);
    margin-bottom: var(--hm-card-layout-padding, 10px);
/*    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08) !important;*/
/*    box-shadow: 0px 4px 12px hsla(var(--card-shadow), 0.1), 0px 2px 4px hsla(var(--card-shadow), 0.08) !important;*/
/*    box-shadow: 0px 4px 12px var(--card-shadow) !important;*/
/*    filter: drop-shadow(13px 3px 4px var(--card-shadow));*/

}

body .workspace-split .workspace-leaf-content,
body .side-dock-actions {
/*    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);*/
/*    box-shadow: 0px 3px 4px 0px hsla(var(--card-shadow), 0.05);*/

}

body .workspace-split .mod-stacked .workspace-leaf-content {
    border-radius: 0;
    border: none;
    margin-bottom: 0px;
    border-left: none;
}

body .workspace-split.mod-horizontal > * {
    width: unset;
}

body .workspace .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header {
    border-style: solid;
    border-radius: var(--hm-card-radius, var(--radius-xl)) 0px 0px var(--hm-card-radius, var(--radius-xl));
    border-width: var(--tab-outline-width);
    border-color: var(--tab-outline-color);
    border-right: var(--tab-outline-width) dashed var(--tab-outline-color);
}

body .workspace .workspace-tabs.mod-stacked .workspace-leaf {
    border-left-width: 0px;
    border-top-width: var(--tab-outline-width);
    border-bottom-width: var(--tab-outline-width);
    border-style: solid;
    border-color: var(--tab-outline-color);
    border-radius: 0 var(--hm-card-radius, var(--radius-xl)) var(--hm-card-radius, var(--radius-xl)) 0;
}

body .workspace .workspace-tabs.mod-stacked .workspace-tab-container {
    padding-bottom: var(--hm-card-layout-padding, 10px);
}

body .workspace-drop-overlay:before {
    width: calc(100% - 6px - var(--hm-card-layout-padding, 0) * 2);
    height: calc(100% - 6px - var(--hm-card-layout-padding, 0) * 2);
    margin: auto;
}

.excalidraw-svg {
    display: flex;
    justify-content: center;
}

.excalidraw-embedded-img {
    border-radius: 10px;
    border: 3px solid var(--borders) !important;
/*    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.08);*/
/*    box-shadow: 0px 4px 12px hsla(var(--card-shadow), 0.1), 0px 2px 4px hsla(var(--card-shadow), 0.08) !important;*/
/*    box-shadow: 0px 10px 30px hsla(var(--card-shadow), 0.5), 0px 5px 15px hsla(var(--card-shadow), 0.5) !important;*/
    right: 50%;
}

.markdown-preview-view mark,
.cm-s-obsidian span.cm-highlight,
.cm-s-obsidian span.cm-formatting-highlight,
.cm-s-obsidian .cm-highlight+span.cm-formatting-highligh {
    border-radius: 10px;
    border: 2px solid var(--highlight-border-color);
    background-color: var(--highlight-color);
    color: var(--highlight-text-color);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
}

.nav-folder-title[data-count]::after {
/*    font-size: 0.9em;
    filter: brightness(1.5);*/
}
