/* .[\w\W]*? */

/*.workspace div.cm-line:not(.frontmatter-delimiter, .HyperMD-codeblock) {
  font-size: .9em;
  font-weight: 400;
  line-height: 1.0em;
}*/

/*.cm-hmd-frontmatter {
  font-size: .9em !important;
  font-weight: 400 !important;
  line-height: 1.0em !important;
}*/

/* Dashlines */
.cm-s-obsidian .cm-hmd-frontmatter.cm-def{
  color: var(--color-orange); 
  /*filter: brightness(1.0);*/
}

/* Frontmatter Text */
.cm-hmd-frontmatter { 
  font-size: 10px !important;
  line-height: 0.5px !important;
  font-weight: 400 !important; 
  color: var(--color-blue);
  font-family: "MonoLisa" !important;
  font-style: italic !important;
  font-feature-settings: "frac" 1,"calt" 1, "liga" 1, "ss01" 1, "ss02" 1, "ss03" 0, "ss05" 1, "ss06" 0, "zero" !important;

}

/* Frontmatter attributes */
span.cm-atom.cm-hmd-frontmatter {
    color:var(--color-accent) !important;
}
 




 /*Dashlines */
/*.cm-s-obsidian .cm-hmd-frontmatter.cm-def{
  color: var(--text-accent-hover);
  filter: hue-rotate(270deg);

}*/

/* Fold Icon - Closed */
/*.view-content .is-collapsed .list-collapse-indicator svg.svg-icon, .view-content .is-collapsed .collapse-indicator svg.svg-icon {
  color: var(--background-modifier-active-hover);
}*/

/* Fold Icon - Open*/
/*.view-content .is-collapsed .list-collapse-indicator svg.svg-icon, .view-content .collapse-indicator svg.svg-icon {
  color: var(--interactive-accent);
}*/

/* Frontmatter Text */
/*.cm-hmd-frontmatter { 
  color: var(--text-accent-hover);
  filter: brightness(0.8);
  font-family: "MonoLisa" !important;
  font-style: italic !important;
  font-feature-settings: "frac" 1,"calt" 1, "liga" 1, "ss01" 1, "ss02" 1, "ss03" 0, "ss05" 1, "ss06" 0, "zero" !important;

}*/




/* These are the colors from the AnuPpucin theme */
/*.anuppuccin-accent-toggle {
  --color-accent: rgb(var(--ctp-accent));
  --color-accent-1: rgb(var(--ctp-accent));
  --color-accent-2: rgba(var(--ctp-accent), 0.9);
  --text-selection: rgba(var(--ctp-accent), 0.25);
  --interactive-accent: rgb(var(--ctp-accent));
  --interactive-accent-hover: rgba(var(--ctp-accent), 0.9);
  --text-accent: rgb(var(--ctp-accent));
  --text-accent-hover: rgb(var(--ctp-accent));
  --text-highlight-bg: rgba(var(--ctp-accent), 0.4);
  --text-highlight-bg-active: rgba(var(--ctp-accent), 0.6);
  --interactive-accent: rgb(var(--ctp-accent));
  --interactive-accent-rgb: var(--ctp-accent);
  --interactive-accent-hover: rgb(var(--ctp-accent));
  --blockquote-border-color: rgb(var(--ctp-accent));
  --background-modifier-active-hover: rgba(var(--ctp-accent), 0.15);
  --link-unresolved-decoration-color: rgba(var(--ctp-accent), 0.3);
  --tag-background: rgba(var(--ctp-accent), 0.1);
  --tag-background-hover: rgba(var(--ctp-accent), 0.2);
  --tag-border-color: rgba(var(--ctp-accent), 0.15);
  --tag-border-color-hover: rgba(var(--ctp-accent), 0.15);
  --nav-item-background-selected: rgba(var(--ctp-accent), 0.2);
  --heading-formatting: rgb(var(--ctp-accent));
  --icon-color-focused: rgb(var(--ctp-accent));
}