.fc .fc-toolbar-title {
    font-size: 1.3em;
    width: 180px;
    margin-left: 10px !important;
/*    padding: 2px 2px !important;*/
}


.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active {
    color: white !important;
    font-size: 1.2em !important;
    height: 1.4em;
    font-variant: small-caps;
    margin-top: -2px;
    border-style: solid;
    border-radius: 4px;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    color: white !important;
    font-size: 1.2em !important;
    height: 1.4em;
    font-variant: small-caps;
    margin-top: -2px;
    border-style: solid;
    border-radius: 4px;
}

.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active {
    color: white !important;
    font-size: 1.2em !important;
    height: 1.4em;
    font-variant: small-caps;
    margin-top: -2px;
    border-style: solid;
    border-radius: 4px;
}
.fc-listWeek-button.fc-button.fc-button-primary.fc-button-active {
    color: white !important;
    font-size: 1.2em !important;
    height: 1.4em;
    font-variant: small-caps;
    margin-top: -2px;
    border-style: solid;
    border-radius: 4px;
}

.fc-timegrid-event .fc-event-time {
    font-size: 1.1em;
}

.fc-timegrid-event-short .fc-event-title {
    font-size: 1.1em;
}

.fc-timegrid-event {
    background-color: rgba(var(--ctp-accent), 0.6) !important;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary {
    padding: 2px 2px !important;
    font-size: 0.8em !important;
    height: 1.8em;
}

.fc-timeGridWeek-button.fc-button.fc-button-primary {
    padding: 2px 2px !important;
    font-size: 0.8em !important;
    height: 1.8em;
}

.fc-timeGridDay-button.fc-button.fc-button-primary {
    padding: 2px 2px !important;
    font-size: 0.8em !important;
    height: 1.8em;
}

.fc-listWeek-button.fc-button.fc-button-primary {
    padding: 2px 2px !important;
    font-size: 0.8em !important;
    height: 1.8em;
}

.fc-prev-button.fc-button.fc-button-primary {
    padding: 2px 2px !important;
    font-size: 0.8em !important;
    height: 1.6em;
    width: 22px;
    color: white;
    background-color: rgba(var(--ctp-accent), 0.6) !important;
/*    filter: brightness(1.1);*/
}

.fc-next-button.fc-button.fc-button-primary {
    padding: 2px 2px !important;
    font-size: 0.8em !important;
    width: 22px;
    color: white;
    height: 1.6em;
    margin-left: 0px;
    background-color: rgba(var(--ctp-accent), 0.6) !important;
/*    filter: brightness(1.1);*/
}

.fc-today-button.fc-button.fc-button-primary {
    padding: 2px 2px !important;
    font-size: 1.0em !important;
    font-variant: small-caps;
    height: 1.2em;
    width: 43px;
/*    padding-right: 6px !important;*/
/*    padding-left: 4px !important;*/
    margin-left: 0px;
/*    margin-right: -5px;*/
    background-color: rgba(var(--ctp-accent), 0.6) !important;
/*    filter: brightness(1.1);*/
    color: white !important;
    opacity: 1.0 !important;
}