/* Generic styling for all tasks */
.task {
    fill: #df9700 !important;
    stroke: hsl(40.5882352941, 60%, 83.3333333333%) !important;
}

/* Specific styling for task type 0 */
.task0 {
    fill: red !important;
    stroke: blue !important;
}

/* Styling for clickable tasks */
.task.clickable {
    cursor: pointer !important;
}

/* Styling for task text */
.taskText {
    fill: #fff !important;
    text-anchor: middle !important;
}


/* Generic styling for all sections */
.section {
    opacity: 0.2 !important;
}

/* Specific styling for section type 0 */
.section0 {
    fill: hsl(220.5882352941, 100%, 98.3333333333%) !important;
    font-size: 2em !important;
}

/* Styling for the grid */
.grid .tick {
    stroke: red !important;
    opacity: 0.8 !important;
}

/* Styling for dates */
.grid .tick text {
    fill: pink !important;
    font-size: 2em !important;
}

/* Styling for milestones */
.milestone {
    transform: rotate(45deg) scale(0.8, 0.8) !important;
    color: blue !important;
}

/* Styling for milestone text */
.milestoneText {
    font-style: italic !important;
    color: pink !important;
    font-size: 2em !important;
}



