.markdown-source-view.mod-cm6 hr,
.markdown-preview-view hr {
    --hr-line-offset: 25%;
    --hr-line-color1: hsla(calc(var(--typ-accent-h) + 180), var(--typ-accent-s), calc(var(--typ-accent-l) - 10%), 1);
    --hr-line-color2: hsla(calc(var(--typ-accent-h) + 90), var(--typ-accent-s), calc(var(--typ-accent-l) - 10%), 1);
    --hr-line-color3: hsla(calc(var(--typ-accent-h) + 10), var(--typ-accent-s), calc(var(--typ-accent-l) - 10%), 1);
    --hr-text-color: hsla(calc(var(--typ-accent-h) + 90), var(--typ-accent-s), calc(var(--typ-accent-l) - 10%), 1);
    --hr-text-offset: 2ch;
    --hr-thickness: 2px;
    display: grid;
    place-items: center;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, transparent, 
        var(--hr-line-color3) calc(30% - var(--hr-line-offset)), 
        var(--hr-line-color2) calc(40% - var(--hr-line-offset)), 
        var(--hr-line-color1) calc(70% - var(--hr-line-offset)), 
        var(--hr-line-color1) calc(50% - var(--hr-text-offset)), 
        transparent calc(50% - var(--hr-text-offset)),
        transparent calc(50% + var(--hr-text-offset)), 
        var(--hr-line-color1) calc(50% + var(--hr-text-offset)), 
        var(--hr-line-color1) calc(30% + var(--hr-line-offset)), 
        var(--hr-line-color2) calc(60% + var(--hr-line-offset)), 
        var(--hr-line-color3) calc(70% + var(--hr-line-offset)),
        transparent);

}

.cm-s-obsidian .cm-line.HyperMD-header + .cm-line:not(.HyperMD-header):not(:has(>br:only-child)) {
    line-height: 1.9em;
}

.markdown-source-view.mod-cm6 hr::after,
.markdown-preview-view hr::after {
    content: "";
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-zap'%3E%3Cpolygon points='13 2 3 14 12 14 11 22 21 10 12 10 13 2'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
    width: 24px;
    height: 24px;
    background-color: hsla(calc(var(--typ-accent-h) + 0), var(--typ-accent-s), calc(var(--typ-accent-l) - 0%), 1);;
    font-size: 1.3em;
    filter: hue-rotate(90deg);
    position: absolute;
    transform: translate(0, calc(var(--hr-thickness) / -2));
}
