.markdown-source-view.mod-cm6 hr,
.markdown-preview-view hr {
    --hr-line-offset: 25%;
    --hr-line-color1: hsla(var(--shift-second-h-180), var(--hsl-second-s), var(--darker-second-l-10), var(--hsl-second-a));
    --hr-line-color2: hsla(var(--shift-second-h-90), var(--hsl-second-s), var(--darker-second-l-10), var(--hsl-second-a));
    --hr-line-color3: hsla(var(--shift-second-h-10), var(--hsl-second-s), var(--darker-second-l-10), var(--hsl-second-a));
    --hr-text-color: hsla(var(--shift-second-h-90), var(--hsl-second-s), var(--darker-second-l-10), var(--hsl-second-a));
    --hr-text-offset: 2ch;
    --hr-thickness: 2px;
    display: grid;
    place-items: center;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, transparent, 
        var(--hr-line-color3) calc(30% - var(--hr-line-offset)), 
        var(--hr-line-color2) calc(40% - var(--hr-line-offset)), 
        var(--hr-line-color1) calc(70% - var(--hr-line-offset)), 
        var(--hr-line-color1) calc(50% - var(--hr-text-offset)), 
        transparent calc(50% - var(--hr-text-offset)),
        transparent calc(50% + var(--hr-text-offset)), 
        var(--hr-line-color1) calc(50% + var(--hr-text-offset)), 
        var(--hr-line-color1) calc(30% + var(--hr-line-offset)), 
        var(--hr-line-color2) calc(60% + var(--hr-line-offset)), 
        var(--hr-line-color3) calc(70% + var(--hr-line-offset)),
        transparent);
}

.markdown-source-view.mod-cm6 hr::after,
.markdown-preview-view hr::after {
    content: "⚡";
    font-size: 1.3em;
    color: transparent;
    text-shadow: 0 0 0 var(--hr-text-color);
    filter: hue-rotate(45deg);
    position: absolute;
    translate: 0 calc(var(--hr-thickness) / -2);
}
