@charset "UTF-8";

/* @settings
name: Card Layout - Accent Colors
id: layout-accent-colors
settings:
    - 
        id: theme-color
        title: Theme Color
        type: class-select
        allowEmpty: false
        default: theme-daisy-blue
        options:
            -
                label: Custom
                value: theme-custom

            -
                label: Daisy Blue
                value: theme-daisy-blue

            -
                label: Red Sky
                value: theme-red-sky
            
            -
                label: Silvery
                value: theme-silvery
    -
        id: hsl-accent
        title: 'Select the user interface accent color'
        type: variable-themed-color
        opacity: true
        format: hsl-split
        description: User interface accent
        default-dark: '#007AFF'
        default-light: '#5dcbc3'


*/

.theme-dark {
    --background-primary: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 30%), var(--accent-a)) !important;
    --background-primary-alt: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 20%), var(--accent-a)) !important;   
    --background-secondary: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 30%), var(--accent-a)) !important;
    --background-secondary-alt: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) + 0%), var(--accent-a)) !important;
    --text-normal: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) + var(--text)), var(--accent-a)) !important; ;
}

body.theme-daisy-blue {
	--accent-h: 210 !important;
	--accent-s: 93% !important;
	--accent-l: 37% !important;
    --accent-a: 90% !important;
    --text: 50% !important;

}

body.theme-red-sky {
	--accent-h: 0 !important;
	--accent-s: 58% !important;
	--accent-l: 37% !important;
    --accent-a: 100% !important;
    --text: 50% !important;
}

body.theme-silvery {
    --accent-h: 215 !important;
    --accent-s: 33% !important;
    --accent-l: 46% !important;
    --accent-a: 100% !important;
    --text: 20% !important;
}

body.theme-custom {
	--accent-h: var(--hsl-accent-h) !important;
	--accent-s: var(--hsl-accent-s) !important;
	--accent-l: var(--hsl-accent-l) !important;
    --accent-a: var(--hsl-accent-a) !important;
    --text: 50% !important;
}



