@charset "UTF-8";

/* @settings
name: Card Layout - Accent Colors
id: layout-accent-colors
settings:
    - 
        id: theme-color
        title: Theme Color
        type: class-select
        allowEmpty: false
        default: theme-daisy-blue
        options:
            -
                label: Custom
                value: theme-custom

            -
                label: Daisy Blue
                value: theme-daisy-blue

            -
                label: Red Sky
                value: theme-red-sky
            
            -
                label: Silvery
                value: theme-silvery
    -
        id: hsl-accent
        title: 'Select the user interface accent color'
        type: variable-themed-color
        opacity: true
        format: hsl-split
        description: User interface accent
        default-dark: '#007AFF'
        default-light: '#5dcbc3'
    
    - 
        id: accent-typo
        title: 'Select the typography accent color'
        type: variable-themed-color
        opacity: true
        format: hsl-split
        description: Content accent
        default-dark: '#90D997'
        default-light: '#304f50'


*/

body.theme-custom {
    --accent-h: var(--hsl-accent-h) !important;
    --accent-s: var(--hsl-accent-s) !important;
    --accent-l: var(--hsl-accent-l) !important;
    --accent-a: var(--hsl-accent-a) !important;
    /* --typ-accent-h: var(--accent-typo-h) ;
    --typ-accent-s: var(--accent-typo-s) ;
    --typ-accent-l: var(--accent-typo-l) ;
    --typ-accent-a: var(--accent-typo-a) ; */
    --text: 50% !important;
}

body.theme-daisy-blue {
    --accent-h: 210 !important;
    --accent-s: 93% !important;
    --accent-l: 37% !important;
    --accent-a: 90% !important;
    --text: 50% !important;

}

body.theme-red-sky {
    --accent-h: 0 !important;
    --accent-s: 58% !important;
    --accent-l: 37% !important;
    --accent-a: 100% !important;
    --text: 50% !important;
}

body:not(.theme-custom).theme-silvery {
    --accent-h: 215 !important;
    --accent-s: 33% !important;
    --accent-l: 46% !important;
    --accent-a: 100% !important;
    /* --typ-accent-h: 215 !important;
    --typ-accent-s: 33% !important;
    --typ-accent-l: 46% !important;
    --typ-accent-a: 100% !important; */
    --text: 20% !important;
}





:root {
    --darkest-blue: #18222b;
    --mid-blue: #273341;
    --light-blue: #303f51;

    --dark-blue: #1d2833;
    --dark-blue-rgb: 29, 40, 51;
    --soft-dark-blue: #2c3a4a;
    --soft-dark-blue-rbg: 44, 58, 74;
    --ocean-blue: #2c4f64;
    --ocean-blue-rgb: 44, 79, 100;
    --bright-blue: #5dcbc3;
    --bright-blue-rbg: 95, 203, 195;
    --percy-blue: #84dca1;
    --percy-blue-rgb: 133, 221, 162;
    --bright-green: #b9e678;
    --bright-green-rgb: 185, 230, 120;
    --soft-yellow: #ffd580;
    --soft-yellow-rgb: 255, 213, 128;
    --bright-yellow: #f8c260;
    --bright-yellow-rgb: 248, 194, 96;
    --bright-orange: #ffa161;
    --bright-orange-rgb: 255, 161, 97;
    --bright-red: #ff695d;
    --bright-red-rgb: 255, 105, 93;
    --bright-purple: #d689e3;
    --bright-purple-rgb: 214, 137, 227;
    --washed-blue: #74859a;
    --washed-blue-rgb: 116, 133, 154;
    --almost-white: #f7f5e9;
    --soft-white: #eeead1;
    --basic-gray: #cfd1d1;
    --blue-gray: #c4d1d1;

    --radiusL: 14px;
    --radiusS: 10px;
}

.theme-dark {
    /*COLORS*/

    /* Surface Colors */
    --background-primary: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 30%), var(--accent-a)) !important;
    --background-primary-alt: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 20%), var(--accent-a)) !important;
    --background-secondary: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 30%), var(--accent-a)) !important;
    --background-secondary-alt: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) + 0%), var(--accent-a)) !important;
    --shadow: hsl(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 25%)) !important;

    /*Text foreground colors*/
    --text-normal: hsla(calc(var(--typ-accent-h) + 10), var(--typ-accent-s), calc(var(--typ-accent-l) + 10%), 1) !important;
    --text-muted: hsla(calc(var(--typ-accent-h) + 10), var(--typ-accent-s), calc(var(--typ-accent-l) - 20%), 1) !important;
    --text-faint: hsla(calc(var(--typ-accent-h) + 10), var(--typ-accent-s), calc(var(--typ-accent-l) - 30%), 1) !important;
    --text-on-accent: hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) + 30%), 1);
    --text-error: var(--bright-red);
    --text-success: var(--bright-green);

    --icons: hsla(var(--accent-h),
            var(--accent-s),
            var(--accent-l),
            1);
    --icon60: hsla(calc(var(--accent-h) + 60),
            var(--accent-s),
            var(--accent-l),
            1);
    --icon120: hsla(calc(var(--accent-h) + 120),
            var(--accent-s),
            var(--accent-l),
            1);
    --icon180: hsla(calc(var(--accent-h) + 180),
            var(--accent-s),
            var(--accent-l),
            1);


    --background-modifier-hover: var(--mid-blue);
    --background-modifier-active-hover: var(--dark-blue);
    --background-modifier-border: var(--ocean-blue);
    --background-modifier-border-hover: var(--soft-dark-blue);
    --background-modifier-border-focus: none;
    --color-accent: hsla(var(--accent-h), var(--accent-s), calc(var(--accent-l) - 20%), 1);

    --background-modifier-error-rgb: var(--bright-red-rgb);
    --background-modifier-error: var(--bright-red);
    --background-modifier-error-hover: var(--bright-red);
    --background-modifier-success-rgb: var(--bright-green-rgb);
    --background-modifier-success: var(--bright-green);
    --background-modifier-message: var(--washed-blue);
    --background-modifier-form-field: var(--light-blue);


    --tab-container-background: var(--background-primary-alt);
    --tab-radius: var(--radiusS);
    --tab-radius-active: var(--radiusS);
    --tab-curve: none;
    --tab-text-color: var(--washed-blue);
    --tab-font-size: 1em;

    /* This is every divider line across the interface */
    --divider-color: var(--background-primary-alt);

    /* Not sure what these are doing */
    --file-header-active: var(--almost-white);
    --hr-color: var(--percy-blue);

    /* Icons in the interface that are active   */
    --icon-color-focused: var(--bright-blue);
    /* Icons in the interface hover text   */
    --icon-color-hover: var(--washed-blue);

    --ribbon-background: var(--background-primary-alt);
    --nav-collapse-icon-color: var(--percy-blue);
    --slider-track-background: var(--ocean-blue);
    /*SCROLLBAR*/

    --scrollbar-thumb-bg: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 5%), var(--accent-a)) !important;
    --scrollbar-active-thumb-bg: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) + 10%), var(--accent-a)) !important;
}

::-webkit-scrollbar-track {
    /* Background */
    background-color: hsla(calc(var(--accent-h) - 0), calc(var(--accent-s) - 0%), calc(var(--accent-l) - 20%), var(--accent-a)) !important;
    border: 2px solid var(--background-primary);
}

::-webkit-scrollbar {
    width: 0.8em !important;
    border: 2px solid var(--background-primary) !important;
}

.workspace .mod-root .workspace-tab-header.is-active {
    border-top: 2px solid var(--washed-blue);
}

/* Panel Toggle Icons */
.sidebar-toggle-button svg {
    color: var(--washed-blue) !important;
}

/* Right toggle button */
.sidebar-toggle-button.mod-right {
    padding-right: 1em;
}




/* Windows Buttons */
.titlebar-button-container {
    background-color: var(--background-primary-alt) !important;
    color: var(--soft-yellow);
    padding-top: 0.8em !important;
}

.titlebar-button-container svg {
    width: 16px;
    height: 16px;
}

.sidebar-toggle-button {
    background-color: var(--background-primary-alt);
}

/* Cusrtom Frames background color */
.custom-frames-frame {
    background-color: var(--background-primary);
}

/* Status Bar */
.status-bar {
    font-size: 1.1em;
    color: var(--washed-blue);
    background-color: var(--background-primary);
    border: 10px solid var(--background-primary-alt);
    border-top-left-radius: var(--radiusL);
    border-bottom-right-radius: var(--radiusL);
    text-shadow: 2px 2px 2px black;
    margin-right: 2px;
}

/* Left side-bar icons */

/* Select elements at positions 0, 4, 8, 12, etc. */
.side-dock-ribbon-action:nth-child(4n) svg {
    color: var(--icon180);
}

/* Select elements at positions 1, 4, 7, 10, etc. */
.side-dock-ribbon-action:nth-child(4n + 1) svg {
    color: var(--icons);
}

/* Select elements at positions 2, 5, 8, 11, etc. */
.side-dock-ribbon-action:nth-child(4n + 2) svg {
    color: var(--icon60);
}

/* Select elements at positions 3, 6, 9, 12, etc. */
.side-dock-ribbon-action:nth-child(4n + 3) svg {
    color: var(--icon120);
}

/* From sailKite @Discord */
/* Hide icons until hover */
.workspace-tabs:not(.mod-top) .workspace-tab-header-container {
    height: 2px;
    transition: height 200ms ease-in;

    &:hover {
        height: var(--header-height);
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        top: 100%;
        position: absolute;
        z-index: 1;
    }
}

/*LAYOUT*/

/* Every container including main text area */
.workspace-tab-container {
    margin: 7px;
    border-radius: var(--radiusL);
    box-shadow: 5px 5px 5px 0px var(--shadow);
}



/* For all of the workspaces on the right add a bit of space */
.workspace-split.mod-horizontal.mod-right-split {
    padding-right: 10px;
    background-color: var(--background-primary-alt);
}

/* Around each leaf across the entire interface */
.workspace-tabs {
    background-color: var(--background-primary-alt);
    padding: 4px;
}

/* Top Left icon dock */
.side-dock-actions {
    background-color: var(--background-primary) !important;
    border-top-right-radius: var(--radiusS) !important;
    border-bottom-right-radius: var(--radiusS) !important;
    padding: 6px !important;
    margin-top: 10px !important;
}

.side-dock-actions svg {
    width: 20px;
    height: 20px;
}

/* Bottom Left icon dock */
.side-dock-settings {
    background-color: var(--background-primary) !important;
    border-top-right-radius: var(--radiusS) !important;
    border-bottom-right-radius: var(--radiusS);
    padding: 4px;
    margin-bottom: 10px !important;
}

.side-dock-settings svg {
    width: 20px;
    height: 20px;
}

/* Left ribbon background */
.workspace-ribbon {
    padding: 0px !important;
    background-color: var(--background-primary-alt) !important;
}

/* All tab backgrounds - top and left and right */
.workspace-tab-header-container {
    background-color: var(--background-primary-alt) !important;
}