.theme-dark,
.theme-light {
    --root-bookmarks-color: black;
    --group-bookmarks-color: transparent;
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder {
    --nav-item-color: var(--hsl-second-base) !important;
    border-radius: 4px;
    --icon-color: var(--folder-color);
}

/* Files */
.workspace-leaf-content[data-type="file-explorer"] .nav-file-title {
  font-size: 0.9em;
}

.mod-root > .nav-folder-title > .nav-folder-title-content  {
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  display: flex;
  line-height: 1em;
  font-size: 1.6em;
  border-radius: 10px;
  font-family: "Yu Gothic" !important;
  color: hsla(calc(var(--typ-accent-h) - 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 0%), 100%);

}

.mod-root > .nav-folder-title[data-count]::after {
  content: attr(data-count);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='24' viewBox='0 0 120 24' fill='none'%3E%3Ctext x='0.7em' y='0.7em' fill='gray' font-size='1.2em' font-family='Rec Mono Duotone' text-anchor='left' alignment-baseline='middle'%3ETotal%3C/text%3E%3C/svg%3E");
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 3.5em;
  line-height: 1em;
  padding-right: 0.9em;
  margin-right: -0.7em;
  font-size: 1.4em;
  text-shadow: 2px 2px 4px #000000;
  border-radius: 10px;
  color: var(--typ-accent);
  background-color: var(--card-background-color);
}


.workspace-leaf-content[data-type="file-explorer"] .nav-folder-title {
  font-size: 1.1em;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Bricolage Grotesque 14pt", monospace !important;
  font-feature-settings: "zero", "liga" 1, "ss12" 1, "ss01" 1, "pnum" 1 !important;
}




.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder > .nav-folder-title {
  --nav-item-color: var(--folder-color) !important;
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder > .nav-folder-title, .nav-file-title {
/*  border: 2px solid transparent;*/
}

/* The very top level items */
.workspace-leaf-content[data-type="file-explorer"] .tree-item-self.nav-folder-title[data-path]:not([data-path*="/"]) {
/*    background-color: hsla(var(--hsl-second-h), var(--hsl-second-s), var(--hsl-second-l), .1) !important;*/
  margin-left: 50px;
}

/* Bottom level items */
.workspace-leaf-content[data-type="file-explorer"] .tree-item.nav-file .tree-item-self.nav-file-title .tree-item-inner.nav-file-title-content {
    color: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 10%), calc(var(--typ-accent-a) + 0%));

}

/* Hover */
.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder > .nav-folder-title:hover, .nav-file-title:hover {
/*  filter: hue-rotate(180deg);*/
/*  border: 2px solid var(--hsl-second-base) !important;*/
/*  background-color: hsla(var(--hsl-second-h), var(--hsl-second-s), var(--hsl-second-l), 0.3) !important;*/
  color: hsla(calc(var(--typ-accent-h) - 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 0%), 1) !important;
  background-color: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 0%), 0.3) !important;
  border-radius: 5px;
}

/* Children */
.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+2) > .nav-folder-title {
/*  background-color: var(--child1-bg-color);*/
  --folder-color: var(--child1-color); 
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+3) > .nav-folder-title{
/*    background-color: var(--child2-bg-color);*/
  --folder-color:var(--child2-color);
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+4) > .nav-folder-title{
/*    background-color: var(--child3-bg-color);*/
  --folder-color:var(--child3-color);
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+5) > .nav-folder-title{
/*    background-color: var(--child4-bg-color);*/
  --folder-color:var(--child4-color);  
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+6) > .nav-folder-title{
/*    background-color: var(--child5-bg-color);*/
  --folder-color:var(--child5-color);
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+7) > .nav-folder-title{
/*    background-color: var(--child6-bg-color);*/
  --folder-color: var(--child6-color); 
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+8) > .nav-folder-title{
/*    background-color: var(--child7-bg-color);*/
  --folder-color: var(--child7-color);
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+9) > .nav-folder-title{
/*    background-color: var(--child8-bg-color);*/
  --folder-color: var(--child8-color);
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+10) > .nav-folder-title {
/*    background-color: var(--child9-bg-color);*/
  --folder-color: var(--child9-color);
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+11) > .nav-folder-title {
/*    background-color: var(--child10-bg-color);*/
  --folder-color: var(--child10-color);
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+12) > .nav-folder-title {
/*    background-color: var(--child11-bg-color);*/
  --folder-color: var(--child11-color); 
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+13) > .nav-folder-title {
/*    background-color: var(--child12-bg-color);*/
  --folder-color: var(--child12-color); 
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+14) > .nav-folder-title {
/*    background-color: var(--child13-bg-color);*/
  --folder-color: var(--child13-color); 
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+15) > .nav-folder-title {
/*    background-color: var(--child14-bg-color);*/
  --folder-color: var(--child14-color); 
}

.workspace-leaf-content[data-type="file-explorer"] .nav-folder-children > .nav-folder:nth-child(15n+16) > .nav-folder-title {
/*    background-color: var(--child15-bg-color);*/
  --folder-color: var(--child15-color); 
}

.tree-item-self .tree-item-icon {
    height: var(--size-4-4);
    --icon-color: currentColor;
}

.tree-item-self .tree-item-icon .svg-icon:not(.right-triangle) {
    --icon-size: var(--icon-s);
    --icon-stroke: var(--icon-s-stroke-width);
}

.workspace-leaf-content[data-type="tag"] .tree-item:not(:hover) .tree-item-icon.collapse-icon svg.svg-icon,
.workspace-leaf-content:is([data-type="bookmarks"], [data-type="file-explorer"]) .tree-item-icon.collapse-icon svg.svg-icon {
    color: transparent;
}

.workspace-leaf-content[data-type="tag"] .tree-item:not(:hover) .tree-item-icon.collapse-icon,
.workspace-leaf-content:is([data-type="bookmarks"], [data-type="file-explorer"]) .tree-item-icon.collapse-icon {
    background-color: currentColor;
    opacity: var(--icon-opacity);
}

.workspace-leaf-content[data-type="tag"] .tree-item-self:not(:has(>.tree-item-icon.collapse-icon)):before,
.workspace-leaf-content[data-type="file-explorer"] :is(.nav-file-title, .nav-folder.mod-root>.nav-folder-title)::before {
    content: " ";
    position: absolute;
    margin-left: calc(-1 * var(--size-4-5));
    width: var(--size-4-4);
    height: var(--size-4-4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: var(--icon-opacity);
    background-color: currentColor;
    flex: 0 0 auto;
}


.workspace-leaf-content[data-type="file-explorer"] .nav-folder.mod-root>.nav-folder-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M14 12.8V3.2c0-.884-.264-1.2-1-1.2H3c-.736 0-1 .316-1 1.2v9.6c0 .884.264 1.2 1 1.2h10c.736 0 1-.316 1-1.2Z'/%3e%3cpath d='M9.978 7.04a2 2 0 1 1-3.956.587 2 2 0 0 1 3.956-.587ZM8 9.333v2m6-6.666h1m-1 6h1'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .tree-item-icon.collapse-icon,
.workspace-leaf-content[data-type="bookmarks"] .tree-item-icon.collapse-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M4 9.333 4.967 7.4a1.333 1.333 0 0 1 1.193-.733h7.173m0 0a1.333 1.333 0 0 1 1.294 1.666l-1.034 4a1.333 1.333 0 0 1-1.293 1H2.667A1.333 1.333 0 0 1 1.333 12V3.333C1.333 2.6 1.933 2 2.667 2h2.62a1.333 1.333 0 0 1 1.106.6l.547.8a1.333 1.333 0 0 0 1.107.6H12a1.333 1.333 0 0 1 1.333 1.333v1.334Z'/%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .is-collapsed .tree-item-icon.collapse-icon,
.workspace-leaf-content[data-type="bookmarks"] .is-collapsed .tree-item-icon.collapse-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M2.667 13.333h10.666A1.333 1.333 0 0 0 14.667 12V5.333A1.333 1.333 0 0 0 13.333 4H8.047a1.333 1.333 0 0 1-1.107-.6l-.547-.8A1.333 1.333 0 0 0 5.287 2h-2.62a1.333 1.333 0 0 0-1.334 1.333V12c0 .733.6 1.333 1.334 1.333Z'/%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v10.666A1.333 1.333 0 0 0 4 14.667h8a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333Z'/%3e%3cpath d='M9.333 1.333v4h4'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".canvas"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M6 2H2.667A.667.667 0 0 0 2 2.667v4.666c0 .369.298.667.667.667H6a.667.667 0 0 0 .667-.667V2.667A.667.667 0 0 0 6 2Zm7.333 0H10a.667.667 0 0 0-.667.667v2c0 .368.299.666.667.666h3.333A.667.667 0 0 0 14 4.667v-2A.667.667 0 0 0 13.333 2Zm0 6H10a.667.667 0 0 0-.667.667v4.666c0 .368.299.667.667.667h3.333a.667.667 0 0 0 .667-.667V8.667A.667.667 0 0 0 13.333 8ZM6 10.667H2.667a.667.667 0 0 0-.667.666v2c0 .368.298.667.667.667H6a.667.667 0 0 0 .667-.667v-2A.667.667 0 0 0 6 10.667Z'/%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .is-unsupported.nav-file-title::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v10.666A1.333 1.333 0 0 0 4 14.667h8a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333Z'/%3e%3cpath d='M6.667 6.867c.133-.267.333-.534.6-.667A1.4 1.4 0 0 1 9 6.467c.2.266.333.533.333.866C9.333 8.2 8 8.667 8 8.667m0 2.666h.007'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .is-unsupported.nav-file-title:is([data-path$=".zip"], [data-path$=".7z"])::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M2.667 14.667v-12c0-.334.133-.667.4-.934.266-.266.6-.4.933-.4h5.667L13.333 5v8.333c0 .334-.133.667-.4.934-.266.266-.6.4-.933.4h-1.333'/%3e%3cpath d='M9.333 1.333v4h4m-6.666 9.334a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667Zm0-10V4m0 4v-.667m0 4.667v-1.333'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".webm"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M2.667 14.667H12a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v2'/%3e%3cpath d='M9.333 1.333v4h4M4.667 6.667 2.667 8H1.333v2.667h1.334l2 1.333V6.667Zm2.666.666c.427.534.667 1.247.667 2 0 .754-.24 1.467-.667 2'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title:is([data-path$=".svg"], [data-path$=".bmp"], [data-path$=".jpeg"], [data-path$=".jpg"], [data-path$=".png"], [data-path$=".gif"])::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M12.667 2H3.333C2.597 2 2 2.597 2 3.333v9.334C2 13.403 2.597 14 3.333 14h9.334c.736 0 1.333-.597 1.333-1.333V3.333C14 2.597 13.403 2 12.667 2Z'/%3e%3cpath d='M6 7.333a1.333 1.333 0 1 0 0-2.666 1.333 1.333 0 0 0 0 2.666ZM14 10l-2.057-2.057a1.333 1.333 0 0 0-1.886 0L4 14'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".pdf"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M9.667 1.333H4a1.333 1.333 0 0 0-1.333 1.334v10.666A1.333 1.333 0 0 0 4 14.667h8a1.333 1.333 0 0 0 1.333-1.334V5L9.667 1.333Z'/%3e%3cpath d='M9.333 1.333v4h4m-2.666 3.334H5.333m5.334 2.666H5.333M6.667 6H5.333'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file-title[data-path$=".excalidraw.md"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' clip-path='url(%23a)'%3e%3cpath d='M8 12.667 12.667 8l2 2L10 14.667l-2-2Z'/%3e%3cpath d='m12 8.667-1-5-9.667-2.334L3.667 11l5 1L12 8.667ZM1.333 1.333l5.058 5.058'/%3e%3cpath d='M7.333 8.667a1.333 1.333 0 1 0 0-2.667 1.333 1.333 0 0 0 0 2.667Z'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="tag"] .tree-item:not(:hover) .tree-item-icon.collapse-icon {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M6 3.333H1.333V8l4.194 4.193a1.617 1.617 0 0 0 2.28 0l2.386-2.386a1.617 1.617 0 0 0 0-2.28L6 3.333ZM4 6.007V6'/%3e%3cpath d='m10 3.333 4.2 4.2a1.6 1.6 0 0 1 0 2.267l-2.867 2.867'/%3e%3c/g%3e%3c/svg%3e");
}

.workspace-leaf-content[data-type="tag"] .tree-item-self:not(:has(>.tree-item-icon.collapse-icon))::before {
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg clip-path='url(%23a)'%3e%3cpath stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333' d='M8 1.333H1.333V8l6.194 6.193a1.617 1.617 0 0 0 2.28 0l4.386-4.386a1.617 1.617 0 0 0 0-2.28L8 1.333ZM4.667 4.667h.006'/%3e%3c/g%3e%3cdefs%3e%3cclipPath id='a'%3e%3cpath fill='white' d='M0 0h16v16H0z'/%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

/* .workspace-leaf-content[data-type="bookmarks"] svg.lucide-folder {
    background-color: pink;
    -webkit-mask-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3e%3cg stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.333'%3e%3cpath d='M1.333 6V3.333C1.333 2.6 1.933 2 2.667 2h2.62a1.333 1.333 0 0 1 1.106.6l.547.8a1.333 1.333 0 0 0 1.107.6h5.286a1.333 1.333 0 0 1 1.334 1.333V12a1.333 1.333 0 0 1-1.334 1.333h-12'/%3e%3cpath d='m5.333 10.667 2-2-2-2'/%3e%3cpath d='M1.333 10.667V10a1.333 1.333 0 0 1 1.334-1.333h4'/%3e%3c/g%3e%3c/svg%3e");
} */


/* All of my templates start with t. */
/* My startup templates start with Startup */
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path*="t."][data-path$=".md"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path*="Startup"][data-path$=".md"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-json-2'%3E%3Cpath d='M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4'/%3E%3Cpolyline points='14 2 14 8 20 8'/%3E%3Cpath d='M4 12a1 1 0 0 0-1 1v1a1 1 0 0 1-1 1 1 1 0 0 1 1 1v1a1 1 0 0 0 1 1'/%3E%3Cpath d='M8 18a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1 1 1 0 0 1-1-1v-1a1 1 0 0 0-1-1'/%3E%3C/svg%3E") !important;
    -webkit-mask-repeat: no-repeat;
}

/* Icon for Markdown Files */
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".md"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".pdf"]::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z'/%3E%3Cpath d='M14 2v6h6m-4 5H8m8 4H8m2-8H8'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
}

/* Icon for Canvas Files */
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".canvas"]::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 3h7v9H3zm11 0h7v5h-7zm0 9h7v9h-7zM3 16h7v5H3z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".svg"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".bmp"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".jpg"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".gif"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".webp"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".jpeg"]::before,
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".png"]::before {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M14.5 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7.5L14.5 2z'/%3E%3Cpath d='M14 2v6h6'/%3E%3Ccircle cx='10' cy='13' r='2'/%3E%3Cpath d='m20 17-1.09-1.09a2 2 0 0 0-2.82 0L10 22'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
}

/* Excalidraw files are .excaidraw.md files */
.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".excalidraw.md"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' %3E%3Crect width='4' height='6' x='2' y='12' rx='2'/%3E%3Cpath d='M14 2v6h6'/%3E%3Cpath d='M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4'/%3E%3Cpath d='M10 12h2v6'/%3E%3Cpath d='M10 18h4'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
}

.workspace-leaf-content[data-type="file-explorer"] .nav-file .nav-file-title[data-path$=".js"]::before {
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-code'%3E%3Cpolyline points='16 18 22 12 16 6'/%3E%3Cpolyline points='8 6 2 12 8 18'/%3E%3C/svg%3E");
    -webkit-mask-repeat: no-repeat;
}



