/* OZ Calendar Tweaks */
.oz-calendar-plugin-today abbr {
    color: hsla(
        calc(var(--typ-accent-h) + 180),
        calc(var(--typ-accent-s) + 20%),
        calc(var(--typ-accent-l) + 10%),
        1
    );
    font-weight: bolder;
    font-size: 1.6em;
    text-shadow: 2px 2px 4px black;
}

.oz-calendar-plugin-view .react-calendar__tile--active {
    background-color: var(--background-primary-alt) !important; 
}

.oz-calendar-plugin-view .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
    height: 30px;
    display: block;
}

.oz-calendar-plugin-view .react-calendar__month-view__days__day--weekend {
	background-color: var(--background-primary-alt) !important;
    border-radius: unset;
    filter: brightness(0.5);
}

.oz-calendar-plugin-view .react-calendar__month-view__weekNumbers {
    display: block !important;
    color: hsla(
        calc(var(--typ-accent-h) + 180),
        calc(var(--typ-accent-s) + 20%),
        calc(var(--typ-accent-l) + 10%),
        1
    );
    flex-basis: auto !important;
    background-color: var(--background-primary-alt);
    font-size: var(--nav-item-size);
    border-radius: var(--radiusS);
}

.oz-calendar-plugin-view .dots-wrapper {
    display: none;
}

.oz-calendar-plugin-view.fixed .react-calendar {
    height: 230px;
}

.oz-calendar-plugin-today {
    border-radius: 0.5em;
    border: 2px solid hsla(
        calc(var(--typ-accent-h) + 180),
        calc(var(--typ-accent-s) + 20%),
        calc(var(--typ-accent-l) + 10%),
        1
    );
    padding: 0.3em !important;
}

.oz-calendar-nav-action-middle,
.oz-calendar-plugin-view button.react-calendar__navigation__label {
    color: hsla(calc(var(--typ-accent-h) + 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 10%), 1);
}

.oz-calendar-note-line-icon {
    font-size: 1.1em;
    color: hsla(calc(var(--typ-accent-h) + 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 0%), calc(var(--typ-accent-a) + 0%)) !important;
    align-content: center;
    justify-content: center;
}

.oz-calendar-note-line:first-child span {
    color: hsla(calc(var(--typ-accent-h) + 45), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 10%), 1);
    font-size: 1.2em;
}

.oz-calendar-note-line span {
    border-bottom: 1px dashed var(--typ-accent);
    display: inline;
}

.oz-calendar-note-line {
    font-family: "Rec Mono Duotone", monospace;
    font-feature-settings: "zero", "liga" 1, "ss12" 1, "ss01" 1, "pnum" 1 !important;
    font-size: 1.1em;
    color: var(--typ-accent) !important;
    text-shadow: 2px 2px 2px black;
}

.oz-calendar-note-line:last-child span {
    border-bottom: unset;
}

.oz-calendar-note-line:hover {
    filter: hue-rotate(180deg);
    background-color: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 0%), 0.3) !important;
    color: hsla(calc(var(--typ-accent-h) - 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) + 0%), 1) !important;
    border-radius: 5px;
}
