body {
  --icon-size: 1em;
  --icon-add: 0em;
  /* Original: #22272e, now slightly darker */
  /*--background-primary: #1e2026 !important;*/
  /* Original: #1c2128, now slightly darker */
  /*--background-tertiary: #171a1f !important; */

  /* Blend the backgrounds slightly with the accent color */
  --background-primary: hsl(var(--accent-h),
      calc((14% + var(--accent-s)) * 0.1),
      /* Keeping original saturation low, influenced slightly by accent */
      calc(15% + (var(--accent-l) - 50%) * 0.05)
      /* Adjusting lightness subtly */
    ) !important;

  --background-primary-alt: hsl(var(--accent-h),
      calc((14% + var(--accent-s)) * 0.1),
      /* Keeping original saturation low, influenced slightly by accent */
      calc(13% + (var(--accent-l) - 50%) * 0.05)
      /* Adjusting lightness subtly */
    ) !important;

  --background-tertiary: hsl(var(--accent-h),
      calc((11% + var(--accent-s)) * 0.1),
      /* Similar adjustment for saturation */
      calc(10% + (var(--accent-l) - 50%) * 0.05)
      /* Subtly adjusting lightness */
    ) !important;

  --background-secondary: hsl(var(--accent-h),
      calc((13% + var(--accent-s)) * 0.1),
      /* Similar adjustment for saturation */
      calc(20% + (var(--accent-l) - 90%) * 0.15)
      /* Subtly adjusting lightness */
    ) !important;

  /*  --background-secondary: hsl(214.29, 13.462%, 20.392%) !important;*/
}

/* Remove the underline from my special schedule tasks */
.HyperMD-list-line-1[data-task="x"]:has(.cm-underline) .cm-underline,
.task-list-item[data-task="x"]:has(.cm-underline) .cm-underline {
  color: #606060;
}

.HyperMD-list-line-1[data-task="c"]:has(.cm-underline) .cm-underline,
.task-list-item[data-task="c"]:has(.cm-underline) .cm-underline {
  color: #732d2e;
}

.HyperMD-list-line-1[data-task=">"]:has(.cm-underline) .cm-underline,
.task-list-item[data-task=">"]:has(.cm-underline) .cm-underline {
  color: #732d2e;
}

/* Style the time for my special schedule */
.tasktime {
  font-family: "Rec Mono Duotone";
  font-feature-settings:
    "zero",
    "liga"1,
    "ss12"1,
    "ss01"1,
    "pnum"1 !important;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 2px;
  color: hsla(calc(var(--accent-h) + 0),
      calc(var(--accent-s) + 0%),
      calc(var(--accent-l) - 0%),
      1);
  border-right: none;
}

/* Base styles for .cm-underline inside .HyperMD-task-line */
.HyperMD-task-line:has(.cm-underline) .cm-underline {
  text-decoration: none !important;
}

.HyperMD-task-line:has(.cm-strong) .cm-strong {
  color: hsla(calc(var(--accent-h) + 180),
      calc(var(--accent-s) + 0%),
      calc(var(--accent-l) - 0%),
      1);
  font-weight: normal;
}

/* Milestone Tasks - Text only */
.HyperMD-list-line-1:has(.tasktime) .cm-em {
  font-style: normal;
  color: hsla(calc(var(--accent-h) + 90),
      var(--accent-s),
      calc(var(--accent-l) + 0%),
      1);
  /*  font-weight: normal;*/
}

/* Base styles for .cm-underline inside .HyperMD-task-line */
.HyperMD-task-line:has(.cm-underline) .cm-underline {
  text-decoration: none !important;
}

.HyperMD-list-line-1 input[data-task=" "],
.task-list-item input[data-task=" "] {
  background-color: hsla(calc(var(--accent-h) + 90),
      var(--accent-s),
      calc(var(--accent-l) - 10%),
      0.4);
}

.HyperMD-list-line-1 input[data-task=" "]:hover,
.task-list-item input[data-task=" "]:hover {
  background-color: hsla(calc(var(--accent-h) + 90),
      var(--accent-s),
      calc(var(--accent-l) - 10%),
      0.9);
}

.HyperMD-list-line-1[data-task="x"] .tasktime,
.task-list-item[data-task="x"] .tasktime {
  color: #606060;
}

.HyperMD-list-line-1[data-task="x"] span[class*="cm-tag"].cm-formatting.cm-formatting-hashtag.cm-hashtag.cm-hashtag-begin,
.HyperMD-list-line-1[data-task="x"] span[class*="cm-tag"].cm-hashtag.cm-hashtag-end {
  color: #606060 !important;
  background-color: #404040 !important;
  border-color: #606060;
}

.ttick {
  line-height: 0;
  overflow: hidden;
  /* Hide any content that overflows */
  visibility: visible;
  /* Make visibility visible for the pseudo-element */
  color: transparent;
  /* Ensures text color is invisible */
}

/* Cloud Icon */
.ttick::before {
  --icon-size: 1.1em;
  visibility: visible;
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='32px' height='32px' viewBox='0 0 512 512' style='shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg%3E%3Cpath style='opacity:0.989' fill='%234772fa' d='M 233.5,-0.5 C 240.833,-0.5 248.167,-0.5 255.5,-0.5C 255.5,18.8333 255.5,38.1667 255.5,57.5C 184.345,59.8162 128.845,90.1496 89,148.5C 47,219.833 47,291.167 89,362.5C 131.994,424.582 191.494,454.749 267.5,453C 346.33,445.133 402.83,405.633 437,334.5C 447.681,309.262 453.181,282.928 453.5,255.5C 472.833,255.5 492.167,255.5 511.5,255.5C 511.5,262.833 511.5,270.167 511.5,277.5C 498.959,377.766 446.959,449.266 355.5,492C 330.316,502.296 304.316,508.796 277.5,511.5C 262.833,511.5 248.167,511.5 233.5,511.5C 133.234,498.959 61.734,446.959 19,355.5C 8.70393,330.316 2.20393,304.316 -0.5,277.5C -0.5,262.833 -0.5,248.167 -0.5,233.5C 12.0408,133.234 64.0408,61.734 155.5,19C 180.684,8.70393 206.684,2.20393 233.5,-0.5 Z'/%3E%3C/g%3E%3Cg%3E%3Cpath style='opacity:0.986' fill='%23ffb000' d='M 412.5,54.5 C 413.922,54.7086 415.255,55.2086 416.5,56C 433.312,69.3105 449.978,82.8105 466.5,96.5C 406.477,171.356 346.643,246.356 287,321.5C 273.597,336.981 257.764,340.147 239.5,331C 205.092,302.714 170.592,274.547 136,246.5C 135.333,245.5 135.333,244.5 136,243.5C 150.385,226.621 164.551,209.621 178.5,192.5C 203.241,212.953 228.075,233.286 253,253.5C 306.175,187.136 359.342,120.803 412.5,54.5 Z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-size: calc(var(--icon-size) + var(--icon-add)) calc(var(--icon-size) + var(--icon-add));
  width: calc(var(--icon-size) + var(--icon-add));
  height: calc(var(--icon-size) + var(--icon-add));
  vertical-align: middle;
  transform: translateY(-0.1em);
  margin-left: 0.5em;
}

.HyperMD-list-line-1[data-task="x"] .ttick::before,
.task-list-item[data-task="x"] .ttick::before {
  filter: grayscale(100%) invert(100%);
}

.schedule {
  margin-left: -3.5em !important;
}

/* Tags */
.mytags {
  color: hsla(calc(var(--accent-h) + 0),
      calc(var(--accent-s) + 0%),
      calc(var(--accent-l) + 20%),
      1);
  background-color: hsla(calc(var(--accent-h) + 90),
      calc(var(--accent-s) + 0%),
      calc(var(--accent-l) - 10%),
      0.3);
  border: 1px solid hsla(calc(var(--accent-h) + 0),
      calc(var(--accent-s) + 0%),
      calc(var(--accent-l) + 10%),
      1);
  border-radius: 0.5em;
  padding: 0.2em;
  font-size: 1em;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

/* mytags in a list */
/* shrink them a little */
.HyperMD-list-line .mytags {
  font-size: 0.75em;
}

/* Hover over tags */
.mytags:hover {
  filter: brightness(1.2);
}

.HyperMD-task-line:has(input.task-list-item-checkbox:checked) {
  color: #606060 !important;
}

input[data-task="x"]:checked {
  background-color: #606060;
  border-color: #606060;
}

input[data-task="x"]:checked::after {
  background-color: #303030;
}

input[data-task=">"]:checked {
  color: #b74849;
}

.HyperMD-list-line-1[data-task="c"] .tasktime,
.task-list-item[data-task="c"] .tasktime {
  color: #732d2e;
}

.HyperMD-list-line-1[data-task=">"] .tasktime,
.task-list-item[data-task=">"] .tasktime {
  color: #732d2e;
}

.HyperMD-list-line[data-task="x"] strong,
.HyperMD-list-line[data-task="x"] .cm-strong {
  color: #606060 !important;
  font-weight: normal;
}

.HyperMD-list-line[data-task="x"] em,
.HyperMD-list-line[data-task="x"] .cm-em {
  color: #606060 !important;
  font-weight: normal;
}

.HyperMD-list-line[data-task="c"] strong,
.HyperMD-list-line[data-task="c"] .cm-strong {
  color: #732d2e !important;
  font-weight: normal;
}

.HyperMD-list-line[data-task="c"] em,
.HyperMD-list-line[data-task="c"] .cm-em {
  color: #732d2e !important;
}

.HyperMD-list-line[data-task=">"] strong,
.HyperMD-list-line[data-task=">"] .cm-strong {
  color: #732d2e !important;
  font-weight: normal;
}

.HyperMD-list-line[data-task=">"] em,
.HyperMD-list-line[data-task=">"] .cm-em {
  color: #732d2e !important;
}

.moon,
.sun,
.feet,
.lunch,
.schedule,
.done,
.doc,
.tasks-postpone,
.tasks-edit,
.room,
.travel,
.party {
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: calc(var(--icon-size) + var(--icon-add)) calc(var(--icon-size) + var(--icon-add));
  width: calc(var(--icon-size) + var(--icon-add));
  height: calc(var(--icon-size) + var(--icon-add));
  vertical-align: middle;
  /* Hide the original emoji */
  color: transparent;
  margin-left: 0.1em;
  margin-right: 0.1em;
  /*  transform: translateY(0.0em);*/
}

.moon {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M192,144a64.33,64.33,0,0,1-2,16H66a64,64,0,1,1,126-16Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M240,152H199.55a73.54,73.54,0,0,0,.45-8,72,72,0,0,0-144,0,73.54,73.54,0,0,0,.45,8H16a8,8,0,0,0,0,16H240a8,8,0,0,0,0-16ZM72,144a56,56,0,1,1,111.41,8H72.59A56.13,56.13,0,0,1,72,144Zm144,56a8,8,0,0,1-8,8H48a8,8,0,0,1,0-16H208A8,8,0,0,1,216,200ZM72.84,43.58a8,8,0,0,1,14.32-7.16l8,16a8,8,0,0,1-14.32,7.16Zm-56,48.84a8,8,0,0,1,10.74-3.57l16,8a8,8,0,0,1-7.16,14.31l-16-8A8,8,0,0,1,16.84,92.42Zm192,15.16a8,8,0,0,1,3.58-10.73l16-8a8,8,0,1,1,7.16,14.31l-16,8a8,8,0,0,1-10.74-3.58Zm-48-55.16,8-16a8,8,0,0,1,14.32,7.16l-8,16a8,8,0,1,1-14.32-7.16Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: #f0e68c;
  transform: translateY(-0.1em);
}

.travel {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M240,91.64l-147.41,88a32,32,0,0,1-38-4.32L18.53,140a8,8,0,0,1,2.32-13.19L24,125.27,55.79,136,88,116.51,58.65,88a8,8,0,0,1,2.2-13.3L68,72l57.53,21.17,54.84-32.75a32,32,0,0,1,41,7.32Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M176,216a8,8,0,0,1-8,8H24a8,8,0,0,1,0-16H168A8,8,0,0,1,176,216ZM247.86,93.15a8,8,0,0,1-3.76,5.39l-147.41,88a40.18,40.18,0,0,1-20.26,5.52,39.78,39.78,0,0,1-27.28-10.87l-.12-.12L13,145.8a16,16,0,0,1,4.49-26.21l3-1.47a8,8,0,0,1,6.08-.4l28.26,9.54L75,115.06,53.17,93.87A16,16,0,0,1,57.7,67.4l.32-.13,7.15-2.71a8,8,0,0,1,5.59,0L124.7,84.38,176.27,53.6a39.82,39.82,0,0,1,51.28,9.12l.12.15,18.64,23.89A8,8,0,0,1,247.86,93.15Zm-19.74-3.7-13-16.67a23.88,23.88,0,0,0-30.68-5.42l-54.8,32.72a8.06,8.06,0,0,1-6.87.64L68,80.58l-4,1.53.21.2L93.57,110.8a8,8,0,0,1-1.43,12.58L59.93,142.87a8,8,0,0,1-6.7.73l-28.67-9.67-.19.1-.37.17a.71.71,0,0,1,.13.12l36,35.26a23.85,23.85,0,0,0,28.42,3.18Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: lime;
  transform: translateY(-0.1em);
}

.HyperMD-list-line-1[data-task="x"] .moon,
.task-list-item[data-task="x"] .moon {
  background-color: #606060;
}

.feet {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-footprints'%3E%3Cpath d='M4 16v-2.38C4 11.5 2.97 10.5 3 8c.03-2.72 1.49-6 4.5-6C9.37 2 10 3.8 10 5.5c0 3.11-2 5.66-2 8.68V16a2 2 0 1 1-4 0Z'/%3E%3Cpath d='M20 20v-2.38c0-2.12 1.03-3.12 1-5.62-.03-2.72-1.49-6-4.5-6C14.63 6 14 7.8 14 9.5c0 3.11 2 5.66 2 8.68V20a2 2 0 1 0 4 0Z'/%3E%3Cpath d='M16 17h4'/%3E%3Cpath d='M4 13h4'/%3E%3C/svg%3E");
  background-color: olivedrab;
}

.room {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M200,224H150.54A266.56,266.56,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25a88,88,0,0,0-176,0c0,31.4,14.51,64.68,42,96.25A266.56,266.56,0,0,0,105.46,224H56a8,8,0,0,0,0,16H200a8,8,0,0,0,0-16ZM56,104a72,72,0,0,1,144,0c0,57.23-55.47,105-72,118C111.47,209,56,161.23,56,104Zm112,0a40,40,0,1,0-40,40A40,40,0,0,0,168,104Zm-64,0a24,24,0,1,1,24,24A24,24,0,0,1,104,104Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: hsla(calc(var(--accent-h) + 90),
      var(--accent-s),
      calc(var(--accent-l) + 20%),
      1);
  transform: translateY(-0.1em);
  --icon-add: 0.2em;
}

/* Change the color when tesk is checked */
.HyperMD-list-line-1[data-task="x"] .feet,
.task-list-item[data-task="x"] .feet {
  background-color: #606060;
}

.sun {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M184,128a56,56,0,1,1-56-56A56,56,0,0,1,184,128Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M120,40V16a8,8,0,0,1,16,0V40a8,8,0,0,1-16,0Zm72,88a64,64,0,1,1-64-64A64.07,64.07,0,0,1,192,128Zm-16,0a48,48,0,1,0-48,48A48.05,48.05,0,0,0,176,128ZM58.34,69.66A8,8,0,0,0,69.66,58.34l-16-16A8,8,0,0,0,42.34,53.66Zm0,116.68-16,16a8,8,0,0,0,11.32,11.32l16-16a8,8,0,0,0-11.32-11.32ZM192,72a8,8,0,0,0,5.66-2.34l16-16a8,8,0,0,0-11.32-11.32l-16,16A8,8,0,0,0,192,72Zm5.66,114.34a8,8,0,0,0-11.32,11.32l16,16a8,8,0,0,0,11.32-11.32ZM48,128a8,8,0,0,0-8-8H16a8,8,0,0,0,0,16H40A8,8,0,0,0,48,128Zm80,80a8,8,0,0,0-8,8v24a8,8,0,0,0,16,0V216A8,8,0,0,0,128,208Zm112-88H216a8,8,0,0,0,0,16h24a8,8,0,0,0,0-16Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: lightgoldenrodyellow;
  transform: translateY(-0.1em);
}

.lunch {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M224,120a96,96,0,0,1-56,87.3V216a8,8,0,0,1-8,8H96a8,8,0,0,1-8-8v-8.7A96,96,0,0,1,32,120Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M81.77,55c5.35-6.66,6.67-11.16,6.12-13.14-.42-1.49-2.41-2.26-2.43-2.26A8,8,0,0,1,88,24a8.11,8.11,0,0,1,2.38.36c1,.31,9.91,3.33,12.79,12.76,2.46,8.07-.55,17.45-8.94,27.89-5.35,6.66-6.67,11.16-6.12,13.14.42,1.49,2.37,2.24,2.39,2.25A8,8,0,0,1,88,96a8.11,8.11,0,0,1-2.38-.36c-1-.31-9.91-3.33-12.79-12.76C70.37,74.81,73.38,65.43,81.77,55Zm31.06,27.89c2.88,9.43,11.79,12.45,12.79,12.76A8.11,8.11,0,0,0,128,96a8,8,0,0,0,2.5-15.6s-2-.76-2.39-2.25c-.55-2,.77-6.48,6.12-13.14,8.39-10.44,11.4-19.82,8.94-27.89-2.88-9.43-11.78-12.45-12.79-12.76A8.11,8.11,0,0,0,128,24a8,8,0,0,0-2.54,15.59s2,.77,2.43,2.26c.55,2-.77,6.48-6.12,13.14C113.38,65.43,110.37,74.81,112.83,82.88Zm40,0c2.88,9.43,11.79,12.45,12.79,12.76A8.11,8.11,0,0,0,168,96a8,8,0,0,0,2.5-15.6s-2-.76-2.39-2.25c-.55-2,.77-6.48,6.12-13.14,8.39-10.44,11.4-19.82,8.94-27.89-2.88-9.43-11.78-12.45-12.79-12.76A8.11,8.11,0,0,0,168,24a8,8,0,0,0-2.54,15.59s2,.77,2.43,2.26c.55,2-.77,6.48-6.12,13.14C153.38,65.43,150.37,74.81,152.83,82.88ZM232,120a104.35,104.35,0,0,1-56,92.28V216a16,16,0,0,1-16,16H96a16,16,0,0,1-16-16v-3.72A104.35,104.35,0,0,1,24,120a8,8,0,0,1,8-8H224A8,8,0,0,1,232,120Zm-16.37,8H40.37a88.29,88.29,0,0,0,51,72A8,8,0,0,1,96,207.29V216h64v-8.71a8,8,0,0,1,4.66-7.27A88.29,88.29,0,0,0,215.63,128Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: lightblue;
  transform: translateY(-0.1em);
}

.schedule {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-calendar'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
  background-color: lightblue;
  transform: translateY(-0.1em);
}

.party {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M192,72V208a8,8,0,0,1-8,8H56a8,8,0,0,1-8-8V72Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M104,104v80a8,8,0,0,1-16,0V104a8,8,0,0,1,16,0Zm40-8a8,8,0,0,0-8,8v80a8,8,0,0,0,16,0V104A8,8,0,0,0,144,96Zm96,16v64a24,24,0,0,1-24,24H200v8a16,16,0,0,1-16,16H56a16,16,0,0,1-16-16V72c0-30.88,28.71-56,64-56,16.77,0,32.91,5.8,44.82,16H160a40,40,0,0,1,40,40V88h16A24,24,0,0,1,240,112ZM57,64H182.62A24,24,0,0,0,160,48H145.74a8,8,0,0,1-5.53-2.22C131.06,37,117.87,32,104,32,80.82,32,61.43,45.76,57,64ZM184,208V192.17c0-.06,0-.11,0-.17s0-.11,0-.17V80H56V208H184Zm40-96a8,8,0,0,0-8-8H200v80h16a8,8,0,0,0,8-8Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: #ffc720;
  transform: translateY(-0.1em);
  --icon-size: 1.5em;
}

.done {
  /*  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check-circle'%3E%3Cpath d='M22 11.08V12a10 10 0 1 1-5.93-9.14'%3E%3C/path%3E%3Cpolyline points='22 4 12 14.01 9 11.01'%3E%3C/polyline%3E%3C/svg%3E");  */
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M224,128a96,96,0,1,1-96-96A96,96,0,0,1,224,128Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M173.66,98.34a8,8,0,0,1,0,11.32l-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35A8,8,0,0,1,173.66,98.34ZM232,128A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: lightblue;
  /*  --icon-add: -0.05em;*/
  transform: translateY(-0.1em);
}

.doc {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%23000000' viewBox='0 0 256 256'%3E%3Cpath d='M208,88H152V32Z' opacity='0.2'%3E%3C/path%3E%3Cpath d='M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40v72a8,8,0,0,0,16,0V40h88V88a8,8,0,0,0,8,8h48V224a8,8,0,0,0,16,0V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM144,144H128a8,8,0,0,0-8,8v56a8,8,0,0,0,8,8h16a36,36,0,0,0,0-72Zm0,56h-8V160h8a20,20,0,0,1,0,40Zm-40-48v56a8,8,0,0,1-16,0V177.38L74.55,196.59a8,8,0,0,1-13.1,0L48,177.38V208a8,8,0,0,1-16,0V152a8,8,0,0,1,14.55-4.59L68,178.05l21.45-30.64A8,8,0,0,1,104,152Z'%3E%3C/path%3E%3C/svg%3E");
  background-color: hsla(calc(var(--accent-h) + 0),
      var(--accent-s),
      calc(var(--accent-l) + 20%),
      1);
  --icon-add: 0.3em;
  transform: translateY(-0.05em);
}

.tasks-edit {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-sliders'%3E%3Cpath d='M15 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V7Z'/%3E%3Cpath d='M14 2v4a2 2 0 0 0 2 2h4'/%3E%3Cpath d='M8 12h8'/%3E%3Cpath d='M10 11v2'/%3E%3Cpath d='M8 17h8'/%3E%3Cpath d='M14 16v2'/%3E%3C/svg%3E");
  background-color: plum;
}

.tasks-postpone {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-circle-arrow-right'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cpath d='M8 12h8'/%3E%3Cpath d='m12 16 4-4-4-4'/%3E%3C/svg%3E");
  background-color: peru;
}

.HyperMD-list-line-1[data-task="x"] .sun,
.HyperMD-list-line-1[data-task="x"] .lunch,
.HyperMD-list-line-1[data-task="x"] .schedule,
.HyperMD-list-line-1[data-task="x"] .done,
.HyperMD-list-line-1[data-task="x"] .doc,
.HyperMD-list-line-1[data-task="x"] .tasks-edit,
.HyperMD-list-line-1[data-task="x"] .tasks-postpone,
.HyperMD-list-line-1[data-task="x"] .room,
.HyperMD-list-line-1[data-task="x"] .travel,
.HyperMD-list-line-1[data-task="x"] .party,
.task-list-item[data-task="x"] .sun,
.task-list-item[data-task="x"] .lunch,
.task-list-item[data-task="x"] .schedule,
.task-list-item[data-task="x"] .done,
.task-list-item[data-task="x"] .doc,
.task-list-item[data-task="x"] .tasks-edit,
.task-list-item[data-task="x"] .tasks-postpone,
.task-list-item[data-task="x"] .room,
.task-list-item[data-task="x"] .travel,
.task-list-item[data-task="x"] .party {
  background-color: #606060;
}

.HyperMD-list-line-1[data-task="c"] .sun,
.HyperMD-list-line-1[data-task="c"] .lunch,
.HyperMD-list-line-1[data-task="c"] .schedule,
.HyperMD-list-line-1[data-task="c"] .done,
.HyperMD-list-line-1[data-task="c"] .doc,
.HyperMD-list-line-1[data-task="c"] .tasks-edit,
.HyperMD-list-line-1[data-task="c"] .tasks-postpone,
.HyperMD-list-line-1[data-task="c"] .room,
.HyperMD-list-line-1[data-task="c"] .travel,
.HyperMD-list-line-1[data-task="c"] .party,
.task-list-item[data-task="c"] .sun,
.task-list-item[data-task="c"] .lunch,
.task-list-item[data-task="c"] .schedule,
.task-list-item[data-task="c"] .done,
.task-list-item[data-task="c"] .doc,
.task-list-item[data-task="c"] .tasks-edit,
.task-list-item[data-task="c"] .tasks-postpone,
.task-list-item[data-task="c"] .room,
.task-list-item[data-task="c"] .tavel,
.task-list-item[data-task="c"] .party {
  background-color: #732d2e;
}

.HyperMD-list-line-1[data-task=">"] .sun,
.HyperMD-list-line-1[data-task=">"] .lunch,
.HyperMD-list-line-1[data-task=">"] .schedule,
.HyperMD-list-line-1[data-task=">"] .done,
.HyperMD-list-line-1[data-task=">"] .doc,
.HyperMD-list-line-1[data-task=">"] .tasks-edit,
.HyperMD-list-line-1[data-task=">"] .tasks-postpone,
.HyperMD-list-line-1[data-task=">"] .room,
.HyperMD-list-line-1[data-task=">"] .travel,
.HyperMD-list-line-1[data-task=">"] .party,
.task-list-item[data-task=">"] .sun,
.task-list-item[data-task=">"] .lunch,
.task-list-item[data-task=">"] .schedule,
.task-list-item[data-task=">"] .done,
.task-list-item[data-task=">"] .doc,
.task-list-item[data-task=">"] .tasks-edit,
.task-list-item[data-task=">"] .tasks-postpone,
.task-list-item[data-task=">"] .room,
.task-list-item[data-task=">"] .travel,
.task-list-item[data-task=">"] .party {
  background-color: #732d2e;
}