/* Align icons horizontally with Flexbox and add gaps */
.view-actions,
.cmdr-page-header {
  align-items: center;
  /* background-color: var(--background-primary); */
  border-top: none !important;
  border-bottom-right-radius: var(--radiusL);
  border-bottom-left-radius: var(--radiusL);
  /* border: 8px solid var(--background-primary-alt); */
}

.view-actions {
  margin-right: 1em !important;
  height: 3em;
  border-bottom-right-radius: var(--radiusL) !important;
  border-bottom-left-radius: var(--radiusL) !important;
}

.view-actions svg {
  stroke: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) + 20%),
    calc(var(--accent-l) + 10%),
    1
  ) !important;
  --icon-size: 20px;
}

.view-actions svg:hover {
  stroke: hsla(
    calc(var(--accent-h) + 180),
    calc(var(--accent-s) + 20%),
    calc(var(--accent-l) + 30%),
    1
  ) !important;
  --icon-size: 22px !important;
}

.cmdr-page-header {
  padding-right: 10px !important;
  border: 2px solid transparent;
  padding-bottom: 2px;
}

.cmdr-page-header svg {
  stroke: hsla(
    calc(var(--accent-h) + 180),
    calc(var(--accent-s) + 20%),
    calc(var(--accent-l) + 20%),
    1
  ) !important;
  --icon-size: 22px;
  /* border: 3px solid var(--background-primary); */
}


