body {
  --my-tag-text: hsla(
    calc(var(--accent-h) + 180),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) - 0%),
    1
  );
  --my-tag-hash: hsla(
    calc(var(--accent-h) + 100),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) - 0%),
    1
  );
  --my-tag-border: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) - 0%),
    1
  );
  --my-tag-background: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) + 0%),
    calc(var(--accent-l) - 30%),
    1
  );
  --my-tag-border-width: 2px;
}

/* Reading */
.has-list-bullet:has(.tag) .tag {
  background: var(--my-tag-background);
  font-weight: bold;
  border: var(--my-tag-border-width) solid var(--my-tag-border);
  text-shadow: 2px 2px 2px black;
  /* padding-top: 0; */
  /* padding-bottom: 0.05em; */
  font-size: 0.7em;
  color: var(--my-tag-text) !important;
}

/* Live / Source Editor */
.HyperMD-list-line:has(.cm-hashtag) .cm-hashtag.cm-hashtag-begin,
.HyperMD-list-line:has(.cm-hashtag) .cm-hashtag-end {
  background: var(--my-tag-background);
  font-weight: bold;
  border: var(--my-tag-border-width) solid var(--my-tag-border);
  text-shadow: 2px 2px 2px black;
  /* padding-top: 0; */
  /* padding-bottom: 0.05em; */
  font-size: 0.7em;
}

.HyperMD-list-line:has(.cm-hashtag) .cm-hashtag.cm-hashtag-begin {
  color: var(--my-tag-hash) !important;
  border-right: none;
  /* padding-left: 0.4em; */
}

.HyperMD-list-line:has(.cm-hashtag) .cm-hashtag-end {
  color: var(--my-tag-text) !important;
  border-left: none;
  /* padding-right: 0.4em; */
}
