.theme-dark {
  --task-text: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 30%),
    1
  );
  --task-background: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 10%),
    1
  );
  --task-startend-bg: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 20%),
    1
  );
  --task-startend-time: hsla(
    calc(var(--typ-accent-h) + 90),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 10%),
    1
  );
  --task-startend-text: hsla(
    calc(var(--typ-accent-h) + 225),
    calc(var(--typ-accent-s) + 20%),
    calc(var(--typ-accent-l) + 10%),
    1
  );
  --link-unresolved-color: red !important;
  --link-unresolved-decoration-style: dashed;
  --link-unresolved-decoration-color: purple !important;
}

/* TickTick Tasks */
.HyperMD-list-line-1:has(.dataview.inline-field-key) .dataview.inline-field-key {
  display: none;
} 

.HyperMD-list-line-1:has(.dataview.inline-field-value) .dataview.inline-field-value {
  display: none;
}

/* Hide the checkbox */
.HyperMD-list-line-1:has(.cm-em) .cm-widgetBuffer + .task-list-label {
  display: none;
}

/* Time */
.HyperMD-list-line-1:has(.cm-em) .cm-widgetBuffer + .task-list-label + .cm-widgetBuffer + .cm-list-1 {
  font-family: "Rec Mono Duotone";
  font-feature-settings:
    "zero",
    "liga" 1,
    "ss12" 1,
    "ss01" 1,
    "pnum" 1 !important;
  border: 1px dashed var(--task-startend-bg);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 2px;
  color: var(--task-startend-time);
/*  padding-bottom: 0.2em;*/
/*  line-height: 1.8em;*/
  border-right: none;
}

/* Time and Text - the entire line */
.HyperMD-list-line-1:has(.cm-em) .cm-list-1 {
  /* Style for the time text */
  color: var(--task-startend-time) !important; 
  text-shadow: 2px 2px 4px black;
}

/* Time and Text - the entire line */
.HyperMD-list-line-1:has(.cm-em).HyperMD-list-line-1:hover {
  /* Style for the time text */
  filter: brightness(0.5) !important; 
}

/* Text only */
.HyperMD-list-line-1:has(.cm-em) .cm-em {
  border: 1px dashed var(--task-startend-bg) !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-right: 0.5em;
  color: var(--task-startend-text) !important;
  font-style: normal;
/*  padding-bottom: 0.2em;
  line-height: 1.8em;*/
  border-left: none !important;
}

/* Notes hover */
.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-underline:hover,
.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-underline:hover::after {
  color: hsla(
    calc(var(--typ-accent-h) + 225),
    calc(var(--typ-accent-s) + 40%),
    calc(var(--typ-accent-l) + 10%),
    1
  );
  border-color: hsla(
    calc(var(--typ-accent-h) + 225),
    calc(var(--typ-accent-s) + 40%),
    calc(var(--typ-accent-l) - 20%),
    1
  );
}

.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-underline:hover::before {
  background-color: hsla(
    calc(var(--typ-accent-h) + 225),
    calc(var(--typ-accent-s) + 40%),
    calc(var(--typ-accent-l) - 20%),
    1
  );
}

/* Select the last .cm-list-1 element within any parent */
/* Select the last .cm-list-1 element within the specified div */
.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-list-1:last-of-type {
/*  color: red !important;*/
/*  background-color: blue !important;*/
/*  font-size: 1.1em;*/
}

/* Base styles for .cm-underline inside .HyperMD-task-line */
.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-underline {
/*  vertical-align: middle;*/
/*  font-size: 1.1em;*/
  text-decoration: none !important;
  margin-bottom: 0.5em !important;
  color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 40%),
    calc(var(--typ-accent-l) + 10%),
    1
  );
  text-shadow: 2px 2px 4px black;
  position: relative;
  padding-left: 1.2em;
}

/* Pseudo-element for the SVG icon */
.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-underline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.1em;
  top: .1em;
  width: 1.1em;
  height: 1.4em;
  background-color: transparent;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 32 32' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-file-symlink'%3E%3Cpath d='M4 22h14a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v7'/%3E%3Cpolyline points='14 2 14 8 20 8'/%3E%3Cpath d='m10 18 3-3-3-3'/%3E%3Cpath d='M4 18v-1a2 2 0 0 1 2-2h6'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  background-color: hsla(
    calc(var(--typ-accent-h) + 30),
    calc(var(--typ-accent-s) + 40%),
    calc(var(--typ-accent-l) + 10%),
    1
  );
}

/* Highlight the time */
.HyperMD-list-line-1:has(.cm-strong) .cm-widgetBuffer + .task-list-label + .cm-widgetBuffer + .cm-list-1 {
  font-family: "Rec Mono Duotone";
  font-feature-settings:
    "zero",
    "liga" 1,
    "ss12" 1,
    "ss01" 1,
    "pnum" 1 !important;
  text-shadow: 2px 2px 4px black;
  border-radius: 5px;
  font-size: 0.9em;
  color: var(--task-text);
  background: var(--task-background);
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.HyperMD-list-line-1:has(.cm-strong) .cm-widgetBuffer + .task-list-label + .cm-widgetBuffer + .cm-list-1::before,
.HyperMD-list-line-1:has(.cm-strong) .cm-widgetBuffer + .task-list-label + .cm-widgetBuffer + .cm-list-1::after {
  content: "";
  margin-right: -0.3em;
}

.HyperMD-list-line.HyperMD-list-line-1.HyperMD-task-line:has(.cm-strong) {
  line-height: 1.6em !important;
}


.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-list-1:last-of-type {
  color: hsla(
    calc(var(--typ-accent-h) + 30),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 10%),
    1
  );
  font-size: inherit;
}

/* Quick check to see how things are aligned, and that no other code is interfereing   */
.HyperMD-list-line-1:has(.cm-strong).HyperMD-task-line.HyperMD-list-line-1[data-task] .cm-list-1 {
/*  border-bottom: 2px dotted red;*/
}