

.theme-light {

}


.theme-dark {
    --tl-today-text: hsla(calc(var(--typ-accent-h) - 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 0%), 1);
    --tl-today-day: hsla(calc(var(--typ-accent-h) - 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 10%), 1);
    --tl-weekend-text: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 0%), 1);
    --tl-weekend-day: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 10%), 1);
    --tl-weekday-text: hsla(calc(var(--typ-accent-h) - 90), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 0%), 1);
    --tl-weekday-day: hsla(calc(var(--typ-accent-h) - 90), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 10%), 1);
    --tl-today-bg: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 0%), 1);
    --tl-today-border: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 0%), 1);
    --tl-weekend-bg: hsla(calc(var(--typ-accent-h) + 0), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 0%), 0.2);
    --tl-selected-bg: hsla(calc(var(--typ-accent-h) - 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 0%), 0.2);
    --tl-selected-border: hsla(calc(var(--typ-accent-h) - 180), calc(var(--typ-accent-s) + 0%), calc(var(--typ-accent-l) - 10%), 1);
}


.timeline-container:not(:has(.timeline-view)) {
    /* CSS styles for the closed widget */
    height: 2em !important;
}

/* Gradient for the first widget */
body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-vertical.mod-root > div > div.workspace-tab-container > div > div > div.timeline-container.svelte-ilz3jn {
    background: linear-gradient(to top, hsla(var(--typ-accent-h), var(--typ-accent-s), 20%, 0.7), transparent);
}

/* Gradient for the second widget */
body > div.app-container > div.horizontal-main-container > div > div.workspace-split.mod-vertical.mod-root > div > div.workspace-tab-container > div > div > div.timeline-container.svelte-ilz3jn > div.timeline-view.svelte-ilz3jn {
    background: linear-gradient(to bottom, hsla(var(--typ-accent-h), var(--typ-accent-s), 20%, 0.7), transparent);
}



.leaf-periodic-button.svelte-ilz3jn {
    display: flex;
    align-items: center;
    position: relative;
}

.leaf-periodic-button.svelte-ilz3jn span svg {
    position: relative;
    top: 0px !important;  
    stroke: pink;
}

/* Targeting the name and number for Sunday */
.timeline-weekday.svelte-ilz3jn:nth-child(1) .timeline-day-of-week.svelte-ilz3jn {
    /* styles */
    color: var(--tl-weekend-text);
}

.timeline-weekday.svelte-ilz3jn:nth-child(1) .timeline-day.svelte-ilz3jn {
    /* styles */
    color: var(--tl-weekend-day);
}

/* Targeting the name and number for Saturday */
.timeline-weekday.svelte-ilz3jn:nth-child(7) .timeline-day-of-week.svelte-ilz3jn {
    /* styles */
    color: var(--tl-weekend-text);

}

.timeline-weekday.svelte-ilz3jn:nth-child(7) .timeline-day.svelte-ilz3jn {
    /* styles */
    color: var(--tl-weekend-day);
}

/* background for sunday */
.timeline-weekday.svelte-ilz3jn:nth-child(1) {
    /* styles */
    background-color: var(--tl-weekend-bg);
    border-radius: 5px;
}

/* background for saturday */
.timeline-weekday.svelte-ilz3jn:nth-child(7) {
    /* styles */
    background-color: var(--tl-weekend-bg);
    border-radius: 5px;
}

/* Targeting the name for Monday */
.timeline-weekday.svelte-ilz3jn:nth-child(2) .timeline-day-of-week.svelte-ilz3jn,
/* Targeting the name for Tuesday */
.timeline-weekday.svelte-ilz3jn:nth-child(3) .timeline-day-of-week.svelte-ilz3jn,
/* Targeting the name for Wednesday */
.timeline-weekday.svelte-ilz3jn:nth-child(4) .timeline-day-of-week.svelte-ilz3jn,
/* Targeting the name for Thursday */
.timeline-weekday.svelte-ilz3jn:nth-child(5) .timeline-day-of-week.svelte-ilz3jn,
/* Targeting the name for Friday */
.timeline-weekday.svelte-ilz3jn:nth-child(6) .timeline-day-of-week.svelte-ilz3jn {
    /* styles */
    color: var(--tl-weekday-text);
    background-color: unset;

}

/* Targeting the number for Monday */
.timeline-weekday.svelte-ilz3jn:nth-child(2) .timeline-day.svelte-ilz3jn,
/* Targeting the number for Tuesday */
.timeline-weekday.svelte-ilz3jn:nth-child(3) .timeline-day.svelte-ilz3jn,
/* Targeting the number for Wednesday */
.timeline-weekday.svelte-ilz3jn:nth-child(4) .timeline-day.svelte-ilz3jn,
/* Targeting the number for Thursday */
.timeline-weekday.svelte-ilz3jn:nth-child(5) .timeline-day.svelte-ilz3jn,
/* Targeting the number for Friday */
.timeline-weekday.svelte-ilz3jn:nth-child(6) .timeline-day.svelte-ilz3jn {
    /* styles */
    color: var(--tl-weekday-day);
}

/* The container for the entire timeline */
.timeline-container {
    /* styles */
    border-radius: 10px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-top: 2px solid hsla(var(--typ-accent-h), var(--typ-accent-s), var(--typ-accent-l), 0.2) ;
   /* background-color: var(--card-foreground-color) !important; */
/*    background: linear-gradient(to top, var(--card-foreground-color) 75%, transparent 75%);*/
}

/* The button that presumably allows the user to jump to "Today" */
.leaf-periodic-button {
    /* styles */
    background-color: hsla(var(--typ-accent-h), var(--typ-accent-s), var(--typ-accent-l), 0.2) !important;
    margin: 4px !important;
    color: hsla(var(--typ-accent-h), var(--typ-accent-s), var(--typ-accent-l), 1) !important;

}

.timeline-weekday:hover {
    border:2px solid var(--tl-today-border) !important;
    border-radius: 5px;
}

.timeline-day {
   /* background-color: unset !important; */
}

/* Remove the circle around the current day */
.timeline-day {
    border: unset !important;
}

.timeline-weekday {
    border: 2px solid transparent;
    border-radius: 5px;
    height: 3.7em;
    margin-bottom: 0.5em;
}

.timeline-weekday.is-selected {
    border: 2px solid var(--tl-selected-border);
    border-radius: 5px;
    background-color: var(--tl-selected-bg);

}

/* Styles for the element with the class timeline-day */
.timeline-weekday.is-selected .timeline-day {
    /* Your styles here */
    background-color: transparent !important;  

}



/* The name of each day of the week (Sun, Mon, Tue, etc.) */
.timeline-day-of-week.svelte-ilz3jn {
    /* styles */
}

/* The number of each day (08, 09, 10, etc.) */
.timeline-day.svelte-ilz3jn {
    /* styles */
}

/* The container for the current day (in this case, Friday the 13th) */
.timeline-weekday.svelte-ilz3jn.is-selected.is-today {
    /* styles */
}

/* The name of the current day (in this case, "Fri") */
.timeline-weekday.svelte-ilz3jn.is-today .timeline-day-of-week.svelte-ilz3jn {
    /* styles */
    color: var(--tl-today-text) !important;
    font-weight: bold !important;
}

/* border for today container */
.timeline-weekday.svelte-ilz3jn.is-selected.is-today {

}

/* The number of the current day (in this case, "13") */
.timeline-weekday.svelte-ilz3jn.is-today .timeline-day.svelte-ilz3jn {
    /* styles */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
   /* background-color: transparent; */
    text-shadow: 2px 2px 2px black;
    color: var(--tl-today-day) !important;
}



/* The background of the timeline view */
.timeline-view.svelte-ilz3jn {
    /* styles */
    /* background-color: var(--card-foreground-color) !important; */
    /* background: hsla(var(--hsl-accent-h), var(--hsl-accent-s), 10%, 0.8) !important; */
    /* background: linear-gradient(to top, hsla(var(--hsl-accent-h), var(--hsl-accent-s), 10%, 0.7) 60%, transparent) !important; */

    border-radius: 10px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    /* padding: 0.4em; */
    /* border-bottom: 2px solid hsla(var(--hsl-accent-h), var(--hsl-accent-s), var(--hsl-accent-l), 0.2); */
    /* padding-bottom: 2px !important; */
}
