/*.theme-dark {
  --tk-background: hsla(
    var(--typ-accent-h),
    calc(var(--typ-accent-s) * 0.5),
    20%,
    0.7
  );
}

.theme-light {
  --tk-background: hsla(
    var(--typ-accent-h),
    var(--typ-accent-s),
    var(--typ-accent-l),
    0.2
  );
}*/

.workspace-leaf:has(> .workspace-leaf-content > .clock-container) {
  height: auto;
}

/* My Personal Font Preference */
.clock-container {
  font-family: "Lato";
  --tokei-main-text: var(--typ-accent);
  --tokei-secondary-text: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 30%),
    calc(var(--typ-accent-a) + 0%)
  );
  --tokei-background: hsla(
    calc(var(--accent-h)),
    calc(var(--accent-s)),
    calc(var(--accent-l) - 10%),
    0.2
  );
  --tokei-border: hsla(
    calc(var(--accent-h) + 0),
    calc(var(--accent-s) - 30%),
    calc(var(--accent-s) + 0%),
    1
  );
  --tokei-main-180: hsla(
    calc(var(--typ-accent-h) - 180),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 20%),
    1
  );

  padding: 0;
  margin-top: 10px;
}

.time {
  text-shadow: 2px 2px 4px black;
  color: hsla(
    calc(var(--typ-accent-h) + 0),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 0%),
    1
  );
   font-size: 3em; 
}

.date {
  font-size: 1.6em;
  text-shadow: 2px 2px 2px black;
  color: hsla(
    calc(var(--typ-accent-h) + 10),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 0%),
    1
  );
  padding-bottom: 0.5em;
}

.quarter,
.week {
  color: hsla(
    calc(var(--typ-accent-h) + 180),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 10%),
    1
  );
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
  font-size: 1em !important;
}

/* this snippet will apply a more compact style */
.timezone-container {
  gap: 2px;
  display: inline-flex;
  flex-wrap: wrap;
  padding-top: 0.3em !important;
  --gap: 12px;
  margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
  width: calc(120% + 0);
  height: calc(100% + var(--gap));
  padding-left: 2px;
  padding-right: 2px;
}

.timezone-container > * {
  margin: var(--gap) 0 0 var(--gap);
  border-radius: 10px;
}

.timezone-pair {
  min-width: 5em;
  min-height: 4em;
  flex-direction: row;
  max-width: 27%;
  background-color: var(--tokei-background);
  border-color: var(--tokei-border);
  border-radius: var(--radiusL);
}

.timezone-name {
  /* margin-right: 0.05em; */
  margin-left: 0.1em;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1em;
  text-shadow: 2px 2px 4px black;
  text-align: center;
  color: hsla(
    calc(var(--typ-accent-h) + 90),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) - 0%),
    1
  );
}

.timezone-time:after {
  content: " ";
  white-space: pre;
}

.timezone-time {
  display: block;
  text-align: center;
  white-space: pre-line;
  content: attr(data-text) " ";
  color: hsla(
    calc(var(--typ-accent-h) + 180),
    calc(var(--typ-accent-s) + 0%),
    calc(var(--typ-accent-l) + 10%),
    1
  );
  text-shadow: 2px 2px 2px black;
  font-size: 1em;
  text-align: center;
}

.time-display::before {
  content: attr(data-text) "\A";
  white-space: pre;
  display: inline;
}
