.theme-dark {
    --tk-background: hsla(var(--hsl-accent-h), calc(var(--hsl-accent-s) * 0.5), 20%, 0.7);
}


.theme-light {
    --tk-background: hsla(var(--hsl-second-h), var(--hsl-second-s), var(--hsl-second-l), 0.2);
}



/* My Personal Font Preference */
.clock-container {
    font-family: Quicksand;
    --tokei-main-text: var(--hsl-second-base);
    --tokei-secondary-text: hsla(var(--hsl-second-h), var(--hsl-second-s), var(--darker-l-10), var(--hsl-second-a));
    --tokei-background: var(--side-panels);
    --tokei-main-180:hsla(var(--shift-second-h-180), var(--hsl-second-s), var(--hsl-second-l), 1);
    margin-top: 10px;
}

.time {
    text-shadow: 2px 2px 4px hsla(var(--hsl-second-h), var(--hsl-second-s), var(--darker-l-40), 1);
}

.date {
    font-size: 1.6em;
    text-shadow: 2px 2px 2px black;
    color: var(--tokei-main-text);
}

.quarter,
.week {
    color: var(--tokei-main-180);
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

/* this snippet will apply a more compact style */
.timezone-container {
    gap: 2px;
    display: inline-flex;
    flex-wrap: wrap;
    --gap: 6px;
    margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
    width: calc(100% + var(--gap));
    padding-left: 30px;
    padding-right: 30px;
}

.timezone-container > * {
    margin: var(--gap) 0 0 var(--gap);
}

.timezone-pair {
    flex-direction: row;
    max-width: 27%;
    background-color: var(--tk-background);
}

.timezone-name {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1.1em;
    text-shadow: 1px 2px 2px black;
    color: var(--tokei-main-180);
}

.timezone-time:after {
    content: " ";
    white-space: pre;
}

.timezone-time {
    display: inline;
    white-space: pre-line;
    content: attr(data-text) " ";
    color: hsla(var(--shift-second-h-90), var(--hsl-second-s), var(--hsl-second-l), 1);
    text-shadow: 2px 2px 2px black;
}

.time-display::before {
    content: attr(data-text) "\A";
    white-space: pre;
    display: inline;
}
